# Standard Query Language

Comandos importantes para este pacote:

`conexão = sqlite3.connect(r'*path.db*')`
Define o database em uso.
Ainda não sei se vários bancos podem estar abertos ao mesmo tempo.

`cursor = conexão.cursor()`
Define um objeto que receberá as ordens para atuar no banco de dados.

`cursor.execute('string_query')`
Este comando transfere toda linguagem SQL para o Python.
As strings são salvas como queries.

`cursor.execute('insert into $tabela$ values (?, ?, ?)',tuplas)`
Em instruções de listagem, é possível deixar os valores em uma tupla e a query com uma estrutura padrão.
Isso é útil quando se deseja usar tuplas prontas, como em laços, e em vários comandos diferentes.

`lista = cursor.fetchall()`
Cria um objeto que é uma lista com os dados do último "select" (eu acho).

`conexão.commit()`
Salva as alterações em caso de blackout.

`cursor.close()` e
`conexão.close()`
São comandos para fechar o cursos e a conexão.

#### Error: database is locked ####
Ocorre porque há conexões abertas que travam a tabela, impossibilitando-a de ser alterada.
Se não tiver certeza de que todas as conexões estão encerradas, reinicie e limpe todas as saídas pelo Kernel.

Algumas queries dependem de aspas. Basta usar aspas duplas para a string e aspas simples internamente.

In [1]:
#Criando um comando para apagar/reiniciar o arquivo.

import os

def redo(conexão,caminho):
    try:
        os.remove(caminho) if os.path.exists(caminho) else None
    except PermissionError:
        print('Redo encerrou a conexão.')
        conexão.close()
    else:
        None
    os.remove(caminho) if os.path.exists(caminho) else None
    print("Redo apagou o arquivo (eu acho)")
    conexão.close()

def redoA(conexão,caminho):
    conexão.close()
    os.remove(caminho) if os.path.exists(caminho) else None

try:
    conn.close()
except:
    print('Não há conexão "conn".')

os.remove(r'../ArquivosParalelos/escola.db') if os.path.exists(r'../ArquivosParalelos/escola.db') else None

Não há conexão "conn".

In [2]:
#Importação do módulo SQLite3

import sqlite3

In [3]:
try: #tente
    conn #chamar o objeto "conn"
except NameError: #se o objeto não foi determinado
    print('Não há objeto "conn"')
    None #Nada acontece, não há conexão com determinado nome.
else: #caso contrário
    redo(conn,r'../ArquivosParalelos/escola.db') #Use a função para fechar a conexão e deletar o arquivo
    print('Conexão encerrada e arquivo deletado')
#Não consegui aplicar apenas o delete do arquivo

Não há objeto "conn"

## Início

### Sumário

* Criar o arquivo, se ainda não existir, ou criar a conexão, caso já exista;
* Executar queries, criar tabelas;
* Inserção de dados com tuplas;
* Select e criação de lista com Fetchall

In [4]:
# Cria uma CONEXÃO do script sendo rodado com um banco de dados
# Se o Banco de dados com o nome referido não existir no diretório, ele é criado nesse momento.
# Um arquivo com o nome (em string) é criado/aberto no diretório.
# Arquivos no formato .db são arquivos de banco de dados. A conexão pode ser feita com qualque arquivo.

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')

print(type(conn)) # Tipo: conexão

<class 'sqlite3.Connection'>

Conexões se parecem com a determinação de qual banco de dados está em uso no MySQL.

In [5]:
#     conn.close()

#     redo(conn,r'../ArquivosParalelos/escola.db')

In [6]:
# Criação de um CURSOR.
# Um cursor é um objeto que funciona como cordenada.
# O cursor é parte de um objeto CONEXÃO; neste caso, do objeto "conn".

curs = conn.cursor()

print(type(curs))

<class 'sqlite3.Cursor'>

## Criação da Tabela no DB

In [7]:
# Queries em python são strings executadas.

# Criação da string na forma do objeto "string_executavel":


string_executavel = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'
# PRYMARY KEY entra como constraint.

print(string_executavel)

# por extenso
string_executavel = 'create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))'

# O nome da tabela é "cursos"
# A coluna "id" é do tipo interger e é uma chave primária, não admitindo valores repetidos.
# As colunas "título" e "categoria" são do tipo varchar, aceitando até 100 e 140 caracteres, respectivamente.

print(string_executavel)

create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))
create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))

In [8]:
# Agora é pedido que o cursor "curs" (que está na conexão "conn" com o arquivo escola.db) execute o comando descrito em "string_executavel"

curs.execute(string_executavel)

# A tabela existe e possui parâmetros, mas não tem conteúdo.

## Inserção de dados na tabela

In [9]:
# Outra string de query.
# A query é criada sem os dados, apenas com as lacunas.

query_insercao = 'insert into cursos values (?, ?, ?)'

In [10]:
# Dados a serem inseridos
# O conjunto é uma lista
# Cada item da lista é um registro no formato de tupla.
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

print(type(recset))
print(type(recset[1]))

<class 'list'>
<class 'tuple'>

In [11]:
# Finalmente, a execução do comando de inserção de dados

# Para cada "linha" em "recset",
# O cursor "curs", na conexão "conn", executa
# o comando na forma de string contido em "query_insercao"
# adicionando uma "linha"

for registro in recset:
    curs.execute(query_insercao, registro)
    #cursor.executa(query, registro)

# .execute recebe como parâmetros a estrutura da query e a tupla de registro.
# Outra forma de adicionar esses dados seria executando o comando tupla por tupla. A lista serviu apenas para o for.

# Se o comando for executado duas vezes, o erro dirá que um dos atributos não pode ser repetido (primary key).

In [12]:
# Gravar a transação
# Tornar factível, não apenas alterações na conexão.
conn.commit()

# Se o script for encerrado antes disso, os dados são perdidos.

# Consulta

In [13]:
# Query de seleção de registros

# Selecione todos os atributos (colunas) de "cursos".
# Notar que o cursos fica no database, não na tabela.

string_select = 'select * from cursos'

curs.execute(string_select) # O cursor passa a CONTER a seleção.
dados = curs.fetchall() # O objeto "dados" é a instância "fetchall" do cursor "curs".

#"fetchall" revela todos os dados alocados na memória em "curs". 

# "Dados" é aquela mesma lista inserida anteriormente.
print(dados)
print(type(dados))

# Numa forma mais apresentável:

print('\n')
for i in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)

[(1000, 'Ciência de Dados', 'Data Science'), (1001, 'Big Data Fundamentos', 'Big Data'), (1002, 'Python Fundamentos', 'Análise de Dados')]
<class 'list'>


Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [14]:
# Agora que a tabela possui dados, podemos adicionar dados novos
# Isso não é só um arquivo de texto. É, de fato, um banco de dados.

recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

for i in recset:
    curs.execute(query_insercao, i)

#string_insercao mantém o padrão das proporções: inserir em cursos valores (?,?,?).

## Commit e encerramento da conexão

In [15]:
#Vejamos a importância do commit

curs.execute('select * from cursos')
dados_antes =  curs.fetchall()

print('Antes do commit:')

for i in dados_antes:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)

conn.commit()

curs.execute('select * from cursos')
dados_depois = curs.fetchall()

print('Depois do commit:')

for i in dados_depois:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)


# O COMMIT SÓ SE MOSTRA EFETIVO SE A CONEXÃO FOR ENCERRADA.

Antes do commit:
Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

Depois do commit:
Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [16]:
#Se algo for tentado com o arquivo que possui uma conexão aberda, retornará erro.

conn.close()

In [17]:
# Fechando sem commit

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

recset = [(1005,'Qualquer coisa', 'Sei lá'),
         (1,'teste 1, 2, 3',123)]

for i in recset:
    curs.execute(query_insercao, i)
    
conn.close()

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

# Usando 'conn.cursos' ao invés de nomeá-lo como 'curs'.
curs.execute('select * from cursos')

dados2 = curs.fetchall()

print('Sem commit')
for i in dados2:
    print('ID: %d; Título: %s; Categoria: %s\n' % i)
print('\n')


# A mesma coisa, mas usando commit antes de fechar

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

recset = [(1005,'Qualquer coisa', 'Sei lá'),
         (1,'teste 1, 2, 3',123)]

for i in recset:
    curs.execute(query_insercao, i)
    
conn.commit()
conn.close()

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

# Usando 'conn.cursos' ao invés de nomeá-lo como 'curs'.
curs.execute('select * from cursos')

dados2 = curs.fetchall()

print('Com commit')
for i in dados2:
    print('ID: %d; Título: %s; Categoria: %s\n' % i)

Sem commit
ID: 1000; Título: Ciência de Dados; Categoria: Data Science

ID: 1001; Título: Big Data Fundamentos; Categoria: Big Data

ID: 1002; Título: Python Fundamentos; Categoria: Análise de Dados

ID: 1003; Título: Gestão de Dados com MongoDB; Categoria: Big Data

ID: 1004; Título: R Fundamentos; Categoria: Análise de Dados



Com commit
ID: 1; Título: teste 1, 2, 3; Categoria: 123

ID: 1000; Título: Ciência de Dados; Categoria: Data Science

ID: 1001; Título: Big Data Fundamentos; Categoria: Big Data

ID: 1002; Título: Python Fundamentos; Categoria: Análise de Dados

ID: 1003; Título: Gestão de Dados com MongoDB; Categoria: Big Data

ID: 1004; Título: R Fundamentos; Categoria: Análise de Dados

ID: 1005; Título: Qualquer coisa; Categoria: Sei lá

## Informações sobre o DB - Metadados

In [18]:
# Obter informações das colunas.
# O resultado é uma tupla composta por tuplas

for i in curs.execute('select * from cursos').description:
    print(i,type(i))
    
print('')
print(type(curs.execute('select * from cursos').description))

print('')

# Para obter apenas os nomes.
for i in curs.execute('select * from cursos').description:
    print(i[0],type(i[0]))

('id', None, None, None, None, None, None) <class 'tuple'>
('titulo', None, None, None, None, None, None) <class 'tuple'>
('categoria', None, None, None, None, None, None) <class 'tuple'>

<class 'tuple'>

id <class 'str'>
titulo <class 'str'>
categoria <class 'str'>

# Funções

## Função de preenchimento automático

In [19]:
import sqlite3
import random
import time
import datetime

In [20]:
# Função para criar uma tabela
def create_table(arquivo):
    c = sqlite3.connect(arquivo).cursor() #Isto cria o arquivo se ele já não existe
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    c.close()

In [21]:
# Função para inserir uma linha
# Esta função serviu de base para a próxima.
def data_insert():
    c.execute("INSERT INTO produtos VALUES('2020-05-02 12:34:45', 'Teclado', 130.00 )")
    conn.commit()
    c.close()
    conn.close()

In [22]:
# "arquivo" é o diretório do DB
# "n" é o número de itens a serem criados na lista.

# Esta função depende de a tabela "produtos" já existir no DB.

def data_insert_var(n,arquivo):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor() 
    for i in range(n): #cria n itens na lista.
        new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
        new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
        new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
        c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_value))
        conn.commit() #salva a alteração.
        time.sleep(0) #aguarda 1 segundo.
    c.close()

In [30]:
# Mesmo que o DB não exista, ele é criado no momento da conexão na função de criação de tabela.

redo(conn,r'../ArquivosParalelos/tempo.db')

create_table(r'../ArquivosParalelos/tempo.db')
data_insert_var(100,r'../ArquivosParalelos/tempo.db')

# Se for executado mais vezes, vai acrescentar mais dados.

Redo apagou o arquivo (eu acho)

## Função de leitura dos dados

Execute as funções de inserção de dados antes.

In [24]:
def showall():
    conn = sqlite3.connect(r'../ArquivosParalelos/tempo.db')
    c = conn.cursor()
    c.execute('select * from produtos')
    data = c.fetchall()
    for i in data:
        print('Id: %d, Data: %s, Produto: %s, Valor: %d \n' % i)
    c.close()
    conn.close()

In [31]:
showall()

Id: 1, Data: 2023-04-21 18:35:41.195725, Produto: Monitor, Valor: 89

Id: 2, Data: 2023-04-21 18:35:41.199724, Produto: Teclado, Valor: 91

Id: 3, Data: 2023-04-21 18:35:41.207717, Produto: Mouse, Valor: 82

Id: 4, Data: 2023-04-21 18:35:41.213714, Produto: Mouse, Valor: 68

Id: 5, Data: 2023-04-21 18:35:41.222707, Produto: CPU, Valor: 57

Id: 6, Data: 2023-04-21 18:35:41.229704, Produto: Monitor, Valor: 72

Id: 7, Data: 2023-04-21 18:35:41.242695, Produto: Teclado, Valor: 55

Id: 8, Data: 2023-04-21 18:35:41.253689, Produto: Monitor, Valor: 91

Id: 9, Data: 2023-04-21 18:35:41.259686, Produto: Teclado, Valor: 64

Id: 10, Data: 2023-04-21 18:35:41.287669, Produto: Teclado, Valor: 81

Id: 11, Data: 2023-04-21 18:35:41.294664, Produto: Teclado, Valor: 86

Id: 12, Data: 2023-04-21 18:35:41.300660, Produto: Teclado, Valor: 84

Id: 13, Data: 2023-04-21 18:35:41.309654, Produto: CPU, Valor: 85

Id: 14, Data: 2023-04-21 18:35:41.339636, Produto: Monitor, Valor: 97

Id: 15, Data: 2023-04-21 18:35:41.369617, Produto: Monitor, Valor: 56

Id: 16, Data: 2023-04-21 18:35:41.382610, Produto: Teclado, Valor: 73

Id: 17, Data: 2023-04-21 18:35:41.389605, Produto: Teclado, Valor: 96

Id: 18, Data: 2023-04-21 18:35:41.399606, Produto: Teclado, Valor: 85

Id: 19, Data: 2023-04-21 18:35:41.408593, Produto: Mouse, Valor: 93

Id: 20, Data: 2023-04-21 18:35:41.421587, Produto: Monitor, Valor: 70

Id: 21, Data: 2023-04-21 18:35:41.434579, Produto: CPU, Valor: 58

Id: 22, Data: 2023-04-21 18:35:41.448568, Produto: CPU, Valor: 92

Id: 23, Data: 2023-04-21 18:35:41.456564, Produto: Monitor, Valor: 55

Id: 24, Data: 2023-04-21 18:35:41.494539, Produto: Mouse, Valor: 62

Id: 25, Data: 2023-04-21 18:35:41.510529, Produto: Mouse, Valor: 70

Id: 26, Data: 2023-04-21 18:35:41.529518, Produto: Mouse, Valor: 85

Id: 27, Data: 2023-04-21 18:35:41.538512, Produto: Monitor, Valor: 79

Id: 28, Data: 2023-04-21 18:35:41.562499, Produto: Mouse, Valor: 95

Id: 29, Data: 2023-04-21 18:35:41.587484, Produto: Teclado, Valor: 87

Id: 30, Data: 2023-04-21 18:35:41.593479, Produto: CPU, Valor: 97

Id: 31, Data: 2023-04-21 18:35:41.606470, Produto: Teclado, Valor: 77

Id: 32, Data: 2023-04-21 18:35:41.613466, Produto: CPU, Valor: 90

Id: 33, Data: 2023-04-21 18:35:41.626460, Produto: Teclado, Valor: 57

Id: 34, Data: 2023-04-21 18:35:41.638451, Produto: CPU, Valor: 96

Id: 35, Data: 2023-04-21 18:35:41.644448, Produto: Teclado, Valor: 94

Id: 36, Data: 2023-04-21 18:35:41.651443, Produto: CPU, Valor: 53

Id: 37, Data: 2023-04-21 18:35:41.657439, Produto: Monitor, Valor: 94

Id: 38, Data: 2023-04-21 18:35:41.667433, Produto: Mouse, Valor: 61

Id: 39, Data: 2023-04-21 18:35:41.673429, Produto: Monitor, Valor: 81

Id: 40, Data: 2023-04-21 18:35:41.679428, Produto: Teclado, Valor: 52

Id: 41, Data: 2023-04-21 18:35:41.685422, Produto: Monitor, Valor: 70

Id: 42, Data: 2023-04-21 18:35:41.692418, Produto: Mouse, Valor: 54

Id: 43, Data: 2023-04-21 18:35:41.697415, Produto: Monitor, Valor: 50

Id: 44, Data: 2023-04-21 18:35:41.705410, Produto: Mouse, Valor: 85

Id: 45, Data: 2023-04-21 18:35:41.710407, Produto: CPU, Valor: 85

Id: 46, Data: 2023-04-21 18:35:41.718402, Produto: Mouse, Valor: 56

Id: 47, Data: 2023-04-21 18:35:41.729394, Produto: Mouse, Valor: 52

Id: 48, Data: 2023-04-21 18:35:41.734391, Produto: Teclado, Valor: 75

Id: 49, Data: 2023-04-21 18:35:41.740387, Produto: Teclado, Valor: 63

Id: 50, Data: 2023-04-21 18:35:41.746384, Produto: Mouse, Valor: 98

Id: 51, Data: 2023-04-21 18:35:41.751380, Produto: Monitor, Valor: 95

Id: 52, Data: 2023-04-21 18:35:41.755378, Produto: Monitor, Valor: 87

Id: 53, Data: 2023-04-21 18:35:41.760376, Produto: CPU, Valor: 69

Id: 54, Data: 2023-04-21 18:35:41.764372, Produto: CPU, Valor: 69

Id: 55, Data: 2023-04-21 18:35:41.771374, Produto: Mouse, Valor: 96

Id: 56, Data: 2023-04-21 18:35:41.776366, Produto: Teclado, Valor: 94

Id: 57, Data: 2023-04-21 18:35:41.780362, Produto: CPU, Valor: 72

Id: 58, Data: 2023-04-21 18:35:41.787358, Produto: Teclado, Valor: 57

Id: 59, Data: 2023-04-21 18:35:41.792356, Produto: Monitor, Valor: 76

Id: 60, Data: 2023-04-21 18:35:41.797352, Produto: CPU, Valor: 91

Id: 61, Data: 2023-04-21 18:35:41.802349, Produto: Monitor, Valor: 71

Id: 62, Data: 2023-04-21 18:35:41.808346, Produto: CPU, Valor: 80

Id: 63, Data: 2023-04-21 18:35:41.837329, Produto: Monitor, Valor: 84

Id: 64, Data: 2023-04-21 18:35:41.846321, Produto: CPU, Valor: 82

Id: 65, Data: 2023-04-21 18:35:41.857315, Produto: Monitor, Valor: 65

Id: 66, Data: 2023-04-21 18:35:41.861312, Produto: Monitor, Valor: 55

Id: 67, Data: 2023-04-21 18:35:41.866309, Produto: CPU, Valor: 66

Id: 68, Data: 2023-04-21 18:35:41.875304, Produto: Mouse, Valor: 63

Id: 69, Data: 2023-04-21 18:35:41.884299, Produto: CPU, Valor: 85

Id: 70, Data: 2023-04-21 18:35:41.892294, Produto: Mouse, Valor: 50

Id: 71, Data: 2023-04-21 18:35:41.897291, Produto: Monitor, Valor: 87

Id: 72, Data: 2023-04-21 18:35:41.904287, Produto: Monitor, Valor: 80

Id: 73, Data: 2023-04-21 18:35:41.908283, Produto: Teclado, Valor: 92

Id: 74, Data: 2023-04-21 18:35:41.912281, Produto: Mouse, Valor: 53

Id: 75, Data: 2023-04-21 18:35:41.918278, Produto: Mouse, Valor: 64

Id: 76, Data: 2023-04-21 18:35:41.923274, Produto: Teclado, Valor: 65

Id: 77, Data: 2023-04-21 18:35:41.927272, Produto: Monitor, Valor: 95

Id: 78, Data: 2023-04-21 18:35:41.932269, Produto: Monitor, Valor: 77

Id: 79, Data: 2023-04-21 18:35:41.938265, Produto: Monitor, Valor: 73

Id: 80, Data: 2023-04-21 18:35:41.942263, Produto: Mouse, Valor: 72

Id: 81, Data: 2023-04-21 18:35:41.948258, Produto: CPU, Valor: 50

Id: 82, Data: 2023-04-21 18:35:41.954255, Produto: Mouse, Valor: 67

Id: 83, Data: 2023-04-21 18:35:41.958252, Produto: Mouse, Valor: 88

Id: 84, Data: 2023-04-21 18:35:41.962250, Produto: Monitor, Valor: 55

Id: 85, Data: 2023-04-21 18:35:41.971252, Produto: Monitor, Valor: 63

Id: 86, Data: 2023-04-21 18:35:41.978240, Produto: Mouse, Valor: 62

Id: 87, Data: 2023-04-21 18:35:41.985236, Produto: CPU, Valor: 99

Id: 88, Data: 2023-04-21 18:35:41.993231, Produto: Monitor, Valor: 74

Id: 89, Data: 2023-04-21 18:35:41.999227, Produto: Mouse, Valor: 63

Id: 90, Data: 2023-04-21 18:35:42.007222, Produto: Teclado, Valor: 94

Id: 91, Data: 2023-04-21 18:35:42.012219, Produto: Mouse, Valor: 62

Id: 92, Data: 2023-04-21 18:35:42.018216, Produto: Teclado, Valor: 94

Id: 93, Data: 2023-04-21 18:35:42.023212, Produto: Teclado, Valor: 96

Id: 94, Data: 2023-04-21 18:35:42.028209, Produto: CPU, Valor: 93

Id: 95, Data: 2023-04-21 18:35:42.033206, Produto: Monitor, Valor: 92

Id: 96, Data: 2023-04-21 18:35:42.041202, Produto: Teclado, Valor: 80

Id: 97, Data: 2023-04-21 18:35:42.046198, Produto: Mouse, Valor: 52

Id: 98, Data: 2023-04-21 18:35:42.054193, Produto: Monitor, Valor: 90

Id: 99, Data: 2023-04-21 18:35:42.065186, Produto: CPU, Valor: 70

Id: 100, Data: 2023-04-21 18:35:42.073182, Produto: Teclado, Valor: 97

In [26]:
# Se nenhum objeto de conexão ou cursor for criado, o bloqueio é evitável.

for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall(): print(i)

(1, '2023-04-21 18:32:52.514988', 'Monitor', 61.0)
(2, '2023-04-21 18:32:52.519984', 'Mouse', 89.0)
(3, '2023-04-21 18:32:52.541970', 'CPU', 61.0)
(4, '2023-04-21 18:32:52.564958', 'Monitor', 87.0)
(5, '2023-04-21 18:32:52.587941', 'CPU', 92.0)
(6, '2023-04-21 18:32:52.608927', 'CPU', 89.0)
(7, '2023-04-21 18:32:52.620922', 'Mouse', 98.0)
(8, '2023-04-21 18:32:52.629916', 'Monitor', 74.0)
(9, '2023-04-21 18:32:52.638911', 'Teclado', 51.0)
(10, '2023-04-21 18:32:52.653900', 'Teclado', 84.0)
(11, '2023-04-21 18:32:52.664894', 'Monitor', 88.0)
(12, '2023-04-21 18:32:52.673888', 'Mouse', 58.0)
(13, '2023-04-21 18:32:52.683882', 'Monitor', 59.0)
(14, '2023-04-21 18:32:52.698874', 'Mouse', 59.0)
(15, '2023-04-21 18:32:52.717861', 'CPU', 56.0)
(16, '2023-04-21 18:32:52.723856', 'Mouse', 59.0)
(17, '2023-04-21 18:32:52.731852', 'Teclado', 91.0)
(18, '2023-04-21 18:32:52.736848', 'CPU', 59.0)
(19, '2023-04-21 18:32:52.744845', 'Teclado', 72.0)
(20, '2023-04-21 18:32:52.764832', 'Teclado', 67.0)
(21, '2023-04-21 18:32:52.771828', 'Mouse', 73.0)
(22, '2023-04-21 18:32:52.785819', 'Teclado', 92.0)
(23, '2023-04-21 18:32:52.792815', 'CPU', 88.0)
(24, '2023-04-21 18:32:52.799810', 'Monitor', 85.0)
(25, '2023-04-21 18:32:52.806806', 'Teclado', 62.0)
(26, '2023-04-21 18:32:52.815800', 'Monitor', 80.0)
(27, '2023-04-21 18:32:52.822796', 'CPU', 86.0)
(28, '2023-04-21 18:32:52.833790', 'Teclado', 99.0)
(29, '2023-04-21 18:32:52.843783', 'Mouse', 99.0)
(30, '2023-04-21 18:32:52.853777', 'Teclado', 90.0)
(31, '2023-04-21 18:32:52.890753', 'Monitor', 76.0)
(32, '2023-04-21 18:32:52.898748', 'Monitor', 70.0)
(33, '2023-04-21 18:32:52.911740', 'CPU', 51.0)
(34, '2023-04-21 18:32:52.920736', 'Monitor', 59.0)
(35, '2023-04-21 18:32:52.929732', 'Monitor', 99.0)
(36, '2023-04-21 18:32:52.937725', 'Monitor', 93.0)
(37, '2023-04-21 18:32:52.949718', 'Mouse', 66.0)
(38, '2023-04-21 18:32:52.967707', 'Teclado', 70.0)
(39, '2023-04-21 18:32:52.984696', 'Teclado', 52.0)
(40, '2023-04-21 18:32:53.001686', 'CPU', 76.0)
(41, '2023-04-21 18:32:53.014677', 'Teclado', 70.0)
(42, '2023-04-21 18:32:53.071644', 'Monitor', 51.0)
(43, '2023-04-21 18:32:53.123609', 'Monitor', 55.0)
(44, '2023-04-21 18:32:53.134602', 'Teclado', 54.0)
(45, '2023-04-21 18:32:53.140599', 'Mouse', 56.0)
(46, '2023-04-21 18:32:53.172584', 'CPU', 87.0)
(47, '2023-04-21 18:32:53.215552', 'Teclado', 71.0)
(48, '2023-04-21 18:32:53.237539', 'Mouse', 60.0)
(49, '2023-04-21 18:32:53.245534', 'CPU', 51.0)
(50, '2023-04-21 18:32:53.252530', 'CPU', 92.0)
(51, '2023-04-21 18:32:53.261524', 'Mouse', 53.0)
(52, '2023-04-21 18:32:53.278514', 'Monitor', 80.0)
(53, '2023-04-21 18:32:53.300503', 'CPU', 51.0)
(54, '2023-04-21 18:32:53.306496', 'Monitor', 99.0)
(55, '2023-04-21 18:32:53.326485', 'Teclado', 85.0)
(56, '2023-04-21 18:32:53.343475', 'CPU', 96.0)
(57, '2023-04-21 18:32:53.356466', 'Teclado', 79.0)
(58, '2023-04-21 18:32:53.371456', 'Monitor', 59.0)
(59, '2023-04-21 18:32:53.385448', 'CPU', 56.0)
(60, '2023-04-21 18:32:53.410433', 'Mouse', 55.0)
(61, '2023-04-21 18:32:53.421426', 'Mouse', 81.0)
(62, '2023-04-21 18:32:53.430419', 'Teclado', 77.0)
(63, '2023-04-21 18:32:53.438414', 'Monitor', 53.0)
(64, '2023-04-21 18:32:53.448409', 'CPU', 57.0)
(65, '2023-04-21 18:32:53.455404', 'Teclado', 58.0)
(66, '2023-04-21 18:32:53.461402', 'Teclado', 78.0)
(67, '2023-04-21 18:32:53.468396', 'CPU', 87.0)
(68, '2023-04-21 18:32:53.477392', 'Monitor', 94.0)
(69, '2023-04-21 18:32:53.482387', 'Teclado', 54.0)
(70, '2023-04-21 18:32:53.488384', 'CPU', 95.0)
(71, '2023-04-21 18:32:53.494384', 'Mouse', 63.0)
(72, '2023-04-21 18:32:53.500376', 'Monitor', 96.0)
(73, '2023-04-21 18:32:53.508371', 'CPU', 57.0)
(74, '2023-04-21 18:32:53.550347', 'Monitor', 91.0)
(75, '2023-04-21 18:32:53.612313', 'Monitor', 92.0)
(76, '2023-04-21 18:32:53.635292', 'CPU', 67.0)
(77, '2023-04-21 18:32:53.685263', 'CPU', 93.0)
(78, '2023-04-21 18:32:53.733232', 'Teclado', 98.0)
(79, '2023-04-21 18:32:53.744226', 'Teclado', 92.0)
(80, '2023-04-21 18:32:53.780204', 'Teclado', 57.0)
(81, '2023-04-21 18:32:53.817182', 'CPU', 71.0)
(82, '2023-04-21 18:32:53.834171', 'Mouse', 65.0)
(83, '2023-04-21 18:32:53.852161', 'Monitor', 70.0)
(84, '2023-04-21 18:32:53.864151', 'Mouse', 85.0)
(85, '2023-04-21 18:32:53.882142', 'CPU', 81.0)
(86, '2023-04-21 18:32:53.900130', 'Monitor', 55.0)
(87, '2023-04-21 18:32:53.915129', 'CPU', 51.0)
(88, '2023-04-21 18:32:53.933110', 'Mouse', 51.0)
(89, '2023-04-21 18:32:53.947101', 'Monitor', 60.0)
(90, '2023-04-21 18:32:53.953096', 'Teclado', 81.0)
(91, '2023-04-21 18:32:53.966090', 'Monitor', 87.0)
(92, '2023-04-21 18:32:53.971086', 'Monitor', 54.0)
(93, '2023-04-21 18:32:53.975083', 'CPU', 86.0)
(94, '2023-04-21 18:32:53.992073', 'Mouse', 88.0)
(95, '2023-04-21 18:32:54.014062', 'CPU', 53.0)
(96, '2023-04-21 18:32:54.031048', 'Mouse', 79.0)
(97, '2023-04-21 18:32:54.038043', 'CPU', 73.0)
(98, '2023-04-21 18:32:54.086014', 'Teclado', 86.0)
(99, '2023-04-21 18:32:54.136987', 'Teclado', 54.0)
(100, '2023-04-21 18:32:54.172961', 'Mouse', 99.0)

## Separando colunas em listas independentes.

Foram feitos dicionários para manter o índice, mas a mesma fórmula pode ser usada para listas, se a ordem não for importante.

In [27]:
# Filtrando os nomes das colunas

columns = []
for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').description:
    columns.append(i[0])
print(columns)
print(type(columns))

['id', 'date', 'prod_name', 'valor']
<class 'list'>

In [28]:
for N in columns:
    ind = columns.index(N)
    exec('%s = {}' % (N))
    for linha in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall():
        exec('%s[linha[0]]=linha[%s]' % (N,ind))
    print('Dicionário "%s" criado com sucesso.' % N)

Dicionário "id" criado com sucesso.
Dicionário "date" criado com sucesso.
Dicionário "prod_name" criado com sucesso.
Dicionário "valor" criado com sucesso.

In [29]:
for N in columns:
    exec('print(%s)' % N)
    
#Peguei uma string e joguei como variável de outra string dentro de um exec
#Com isso, o que seria lido como N foi interpretado como chamada, não como string

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40, 41: 41, 42: 42, 43: 43, 44: 44, 45: 45, 46: 46, 47: 47, 48: 48, 49: 49, 50: 50, 51: 51, 52: 52, 53: 53, 54: 54, 55: 55, 56: 56, 57: 57, 58: 58, 59: 59, 60: 60, 61: 61, 62: 62, 63: 63, 64: 64, 65: 65, 66: 66, 67: 67, 68: 68, 69: 69, 70: 70, 71: 71, 72: 72, 73: 73, 74: 74, 75: 75, 76: 76, 77: 77, 78: 78, 79: 79, 80: 80, 81: 81, 82: 82, 83: 83, 84: 84, 85: 85, 86: 86, 87: 87, 88: 88, 89: 89, 90: 90, 91: 91, 92: 92, 93: 93, 94: 94, 95: 95, 96: 96, 97: 97, 98: 98, 99: 99, 100: 100}
{1: '2023-04-21 18:32:52.514988', 2: '2023-04-21 18:32:52.519984', 3: '2023-04-21 18:32:52.541970', 4: '2023-04-21 18:32:52.564958', 5: '2023-04-21 18:32:52.587941', 6: '2023-04-21 18:32:52.608927', 7: '2023-04-21 18:32:52.620922', 8: '2023-04-21 18:32:52.629916', 9: '2023-04-21 18:32:52.638911', 10: '2023-04-21 18:32:52.653900', 11: '2023-04-21 18:32:52.664894', 12: '2023-04-21 18:32:52.673888', 13: '2023-04-21 18:32:52.683882', 14: '2023-04-21 18:32:52.698874', 15: '2023-04-21 18:32:52.717861', 16: '2023-04-21 18:32:52.723856', 17: '2023-04-21 18:32:52.731852', 18: '2023-04-21 18:32:52.736848', 19: '2023-04-21 18:32:52.744845', 20: '2023-04-21 18:32:52.764832', 21: '2023-04-21 18:32:52.771828', 22: '2023-04-21 18:32:52.785819', 23: '2023-04-21 18:32:52.792815', 24: '2023-04-21 18:32:52.799810', 25: '2023-04-21 18:32:52.806806', 26: '2023-04-21 18:32:52.815800', 27: '2023-04-21 18:32:52.822796', 28: '2023-04-21 18:32:52.833790', 29: '2023-04-21 18:32:52.843783', 30: '2023-04-21 18:32:52.853777', 31: '2023-04-21 18:32:52.890753', 32: '2023-04-21 18:32:52.898748', 33: '2023-04-21 18:32:52.911740', 34: '2023-04-21 18:32:52.920736', 35: '2023-04-21 18:32:52.929732', 36: '2023-04-21 18:32:52.937725', 37: '2023-04-21 18:32:52.949718', 38: '2023-04-21 18:32:52.967707', 39: '2023-04-21 18:32:52.984696', 40: '2023-04-21 18:32:53.001686', 41: '2023-04-21 18:32:53.014677', 42: '2023-04-21 18:32:53.071644', 43: '2023-04-21 18:32:53.123609', 44: '2023-04-21 18:32:53.134602', 45: '2023-04-21 18:32:53.140599', 46: '2023-04-21 18:32:53.172584', 47: '2023-04-21 18:32:53.215552', 48: '2023-04-21 18:32:53.237539', 49: '2023-04-21 18:32:53.245534', 50: '2023-04-21 18:32:53.252530', 51: '2023-04-21 18:32:53.261524', 52: '2023-04-21 18:32:53.278514', 53: '2023-04-21 18:32:53.300503', 54: '2023-04-21 18:32:53.306496', 55: '2023-04-21 18:32:53.326485', 56: '2023-04-21 18:32:53.343475', 57: '2023-04-21 18:32:53.356466', 58: '2023-04-21 18:32:53.371456', 59: '2023-04-21 18:32:53.385448', 60: '2023-04-21 18:32:53.410433', 61: '2023-04-21 18:32:53.421426', 62: '2023-04-21 18:32:53.430419', 63: '2023-04-21 18:32:53.438414', 64: '2023-04-21 18:32:53.448409', 65: '2023-04-21 18:32:53.455404', 66: '2023-04-21 18:32:53.461402', 67: '2023-04-21 18:32:53.468396', 68: '2023-04-21 18:32:53.477392', 69: '2023-04-21 18:32:53.482387', 70: '2023-04-21 18:32:53.488384', 71: '2023-04-21 18:32:53.494384', 72: '2023-04-21 18:32:53.500376', 73: '2023-04-21 18:32:53.508371', 74: '2023-04-21 18:32:53.550347', 75: '2023-04-21 18:32:53.612313', 76: '2023-04-21 18:32:53.635292', 77: '2023-04-21 18:32:53.685263', 78: '2023-04-21 18:32:53.733232', 79: '2023-04-21 18:32:53.744226', 80: '2023-04-21 18:32:53.780204', 81: '2023-04-21 18:32:53.817182', 82: '2023-04-21 18:32:53.834171', 83: '2023-04-21 18:32:53.852161', 84: '2023-04-21 18:32:53.864151', 85: '2023-04-21 18:32:53.882142', 86: '2023-04-21 18:32:53.900130', 87: '2023-04-21 18:32:53.915129', 88: '2023-04-21 18:32:53.933110', 89: '2023-04-21 18:32:53.947101', 90: '2023-04-21 18:32:53.953096', 91: '2023-04-21 18:32:53.966090', 92: '2023-04-21 18:32:53.971086', 93: '2023-04-21 18:32:53.975083', 94: '2023-04-21 18:32:53.992073', 95: '2023-04-21 18:32:54.014062', 96: '2023-04-21 18:32:54.031048', 97: '2023-04-21 18:32:54.038043', 98: '2023-04-21 18:32:54.086014', 99: '2023-04-21 18:32:54.136987', 100: '2023-04-21 18:32:54.172961'}
{1: 'Monitor', 2: 'Mouse', 3: 'CPU', 4: 'Monitor', 5: 'CPU', 6: 'CPU', 7: 'Mouse', 8: 'Monitor', 9: 'Teclado', 10: 'Teclado', 11: 'Monitor', 12: 'Mouse', 13: 'Monitor', 14: 'Mouse', 15: 'CPU', 16: 'Mouse', 17: 'Teclado', 18: 'CPU', 19: 'Teclado', 20: 'Teclado', 21: 'Mouse', 22: 'Teclado', 23: 'CPU', 24: 'Monitor', 25: 'Teclado', 26: 'Monitor', 27: 'CPU', 28: 'Teclado', 29: 'Mouse', 30: 'Teclado', 31: 'Monitor', 32: 'Monitor', 33: 'CPU', 34: 'Monitor', 35: 'Monitor', 36: 'Monitor', 37: 'Mouse', 38: 'Teclado', 39: 'Teclado', 40: 'CPU', 41: 'Teclado', 42: 'Monitor', 43: 'Monitor', 44: 'Teclado', 45: 'Mouse', 46: 'CPU', 47: 'Teclado', 48: 'Mouse', 49: 'CPU', 50: 'CPU', 51: 'Mouse', 52: 'Monitor', 53: 'CPU', 54: 'Monitor', 55: 'Teclado', 56: 'CPU', 57: 'Teclado', 58: 'Monitor', 59: 'CPU', 60: 'Mouse', 61: 'Mouse', 62: 'Teclado', 63: 'Monitor', 64: 'CPU', 65: 'Teclado', 66: 'Teclado', 67: 'CPU', 68: 'Monitor', 69: 'Teclado', 70: 'CPU', 71: 'Mouse', 72: 'Monitor', 73: 'CPU', 74: 'Monitor', 75: 'Monitor', 76: 'CPU', 77: 'CPU', 78: 'Teclado', 79: 'Teclado', 80: 'Teclado', 81: 'CPU', 82: 'Mouse', 83: 'Monitor', 84: 'Mouse', 85: 'CPU', 86: 'Monitor', 87: 'CPU', 88: 'Mouse', 89: 'Monitor', 90: 'Teclado', 91: 'Monitor', 92: 'Monitor', 93: 'CPU', 94: 'Mouse', 95: 'CPU', 96: 'Mouse', 97: 'CPU', 98: 'Teclado', 99: 'Teclado', 100: 'Mouse'}
{1: 61.0, 2: 89.0, 3: 61.0, 4: 87.0, 5: 92.0, 6: 89.0, 7: 98.0, 8: 74.0, 9: 51.0, 10: 84.0, 11: 88.0, 12: 58.0, 13: 59.0, 14: 59.0, 15: 56.0, 16: 59.0, 17: 91.0, 18: 59.0, 19: 72.0, 20: 67.0, 21: 73.0, 22: 92.0, 23: 88.0, 24: 85.0, 25: 62.0, 26: 80.0, 27: 86.0, 28: 99.0, 29: 99.0, 30: 90.0, 31: 76.0, 32: 70.0, 33: 51.0, 34: 59.0, 35: 99.0, 36: 93.0, 37: 66.0, 38: 70.0, 39: 52.0, 40: 76.0, 41: 70.0, 42: 51.0, 43: 55.0, 44: 54.0, 45: 56.0, 46: 87.0, 47: 71.0, 48: 60.0, 49: 51.0, 50: 92.0, 51: 53.0, 52: 80.0, 53: 51.0, 54: 99.0, 55: 85.0, 56: 96.0, 57: 79.0, 58: 59.0, 59: 56.0, 60: 55.0, 61: 81.0, 62: 77.0, 63: 53.0, 64: 57.0, 65: 58.0, 66: 78.0, 67: 87.0, 68: 94.0, 69: 54.0, 70: 95.0, 71: 63.0, 72: 96.0, 73: 57.0, 74: 91.0, 75: 92.0, 76: 67.0, 77: 93.0, 78: 98.0, 79: 92.0, 80: 57.0, 81: 71.0, 82: 65.0, 83: 70.0, 84: 85.0, 85: 81.0, 86: 55.0, 87: 51.0, 88: 51.0, 89: 60.0, 90: 81.0, 91: 87.0, 92: 54.0, 93: 86.0, 94: 88.0, 95: 53.0, 96: 79.0, 97: 73.0, 98: 86.0, 99: 54.0, 100: 99.0}