# Standard Query Language

Comandos importantes para este pacote:

`conexão = sqlite3.connect(r'*path.db*')`
Define o database em uso.
Ainda não sei se vários bancos podem estar abertos ao mesmo tempo.

`cursor = conexão.cursor()`
Define um objeto que receberá as ordens para atuar no banco de dados.

`cursor.execute('string_query')`
Este comando transfere toda linguagem SQL para o Python.
As strings são salvas como queries.

`cursor.execute('insert into $tabela$ values (?, ?, ?)',tuplas)`
Em instruções de listagem, é possível deixar os valores em uma tupla e a query com uma estrutura padrão.
Isso é útil quando se deseja usar tuplas prontas, como em laços, e em vários comandos diferentes.

`lista = cursor.fetchall()`
Cria um objeto que é uma lista com os dados do último "select" (eu acho).

`conexão.commit()`
Salva as alterações em caso de blackout.

`cursor.close()` e
`conexão.close()`
São comandos para fechar o cursos e a conexão.

#### Error: database is locked ####
Ocorre porque há conexões abertas que travam a tabela, impossibilitando-a de ser alterada.
Se não tiver certeza de que todas as conexões estão encerradas, reinicie e limpe todas as saídas pelo Kernel.

Algumas queries dependem de aspas. Basta usar aspas duplas para a string e aspas simples internamente.

In [18]:
#Criando um comando para apagar/reiniciar o arquivo.

import os

def redo(conexão,caminho):
    try:
        os.remove(caminho) if os.path.exists(caminho) else None
    except PermissionError:
        print('Redo encerrou a conexão.')
        conexão.close()
    else:
        None
    os.remove(caminho) if os.path.exists(caminho) else None
    print("Redo apagou o arquivo (eu acho)")

def redoA(conexão,caminho):
    conexão.close()
    os.remove(caminho) if os.path.exists(caminho) else None

try:
    conn.close()
except:
    None

os.remove(r'../ArquivosParalelos/escola.db') if os.path.exists(r'../ArquivosParalelos/escola.db') else None

In [19]:
#Importação do módulo SQLite3

import sqlite3

In [20]:
try: #tente
    conn #chamar o objeto "conn"
except NameError: #se o objeto não foi determinado
    print('nada')
    None #Nada acontece, não há conexão com determinado nome.
else: #caso contrário
    print('foi')
    redo(conn,r'../ArquivosParalelos/escola.db') #Use a função para fechar a conexão e deletar o arquivo
#Não consegui aplicar apenas o delete do arquivo

foi
Redo apagou o arquivo (eu acho)

## Início

### Sumário

* Criar o arquivo, se ainda não existir, ou criar a conexão, caso já exista;
* Executar queries, criar tabelas;
* Inserção de dados com tuplas;
* Select e criação de lista com Fetchall

In [21]:
# Cria uma CONEXÃO do script sendo rodado com um banco de dados
# Se o Banco de dados com o nome referido não existir no diretório, ele é criado nesse momento.
# Um arquivo com o nome (em string) é criado/aberto no diretório.
# Arquivos no formato .db são arquivos de banco de dados. A conexão pode ser feita com qualque arquivo.

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')

print(type(conn)) # Tipo: conexão

<class 'sqlite3.Connection'>

Conexões se parecem com a determinação de qual banco de dados está em uso no MySQL.

In [22]:
#     conn.close()

#     redo(conn,r'../ArquivosParalelos/escola.db')

In [23]:
# Criação de um CURSOR.
# Um cursor é um objeto que funciona como cordenada.
# O cursor é parte de um objeto CONEXÃO; neste caso, do objeto "conn".

curs = conn.cursor()

print(type(curs))

<class 'sqlite3.Cursor'>

## Criação da Tabela no DB

In [24]:
# Queries em python são strings executadas.

# Criação da string na forma do objeto "string_executavel":


string_executavel = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'
# PRYMARY KEY entra como constraint.

print(string_executavel)

# por extenso
string_executavel = 'create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))'

# O nome da tabela é "cursos"
# A coluna "id" é do tipo interger e é uma chave primária, não admitindo valores repetidos.
# As colunas "título" e "categoria" são do tipo varchar, aceitando até 100 e 140 caracteres, respectivamente.

print(string_executavel)

create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))
create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))

In [25]:
# Agora é pedido que o cursor "curs" (que está na conexão "conn" com o arquivo escola.db) execute o comando descrito em "string_executavel"

curs.execute(string_executavel)

# A tabela existe e possui parâmetros, mas não tem conteúdo.

## Inserção de dados na tabela

In [26]:
# Outra string de query.
# A query é criada sem os dados, apenas com as lacunas.

query_insercao = 'insert into cursos values (?, ?, ?)'

In [27]:
# Dados a serem inseridos
# O conjunto é uma lista
# Cada item da lista é um registro no formato de tupla.
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

print(type(recset))
print(type(recset[1]))

<class 'list'>
<class 'tuple'>

In [28]:
# Finalmente, a execução do comando de inserção de dados

# Para cada "linha" em "recset",
# O cursor "curs", na conexão "conn", executa
# o comando na forma de string contido em "query_insercao"
# adicionando uma "linha"

for registro in recset:
    curs.execute(query_insercao, registro)
    #cursor.executa(query, registro)

# .execute recebe como parâmetros a estrutura da query e a tupla de registro.
# Outra forma de adicionar esses dados seria executando o comando tupla por tupla. A lista serviu apenas para o for.

# Se o comando for executado duas vezes, o erro dirá que um dos atributos não pode ser repetido (primary key).

In [29]:
# Gravar a transação
# Tornar factível, não apenas alterações na conexão.
conn.commit()

# Se o script for encerrado antes disso, os dados são perdidos.

# Consulta

In [30]:
# Query de seleção de registros

# Selecione todos os atributos (colunas) de "cursos".
# Notar que o cursos fica no database, não na tabela.

string_select = 'select * from cursos'

curs.execute(string_select) # O cursor passa a CONTER a seleção.
dados = curs.fetchall() # O objeto "dados" é a instância "fetchall" do cursor "curs".

#"fetchall" revela todos os dados alocados na memória em "curs". 

# "Dados" é aquela mesma lista inserida anteriormente.
print(dados)
print(type(dados))

# Numa forma mais apresentável:

print('\n')
for i in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)

[(1000, 'Ciência de Dados', 'Data Science'), (1001, 'Big Data Fundamentos', 'Big Data'), (1002, 'Python Fundamentos', 'Análise de Dados')]
<class 'list'>


Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [31]:
# Agora que a tabela possui dados, podemos adicionar dados novos
# Isso não é só um arquivo de texto. É, de fato, um banco de dados.

recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

for i in recset:
    curs.execute(query_insercao, i)

#string_insercao mantém o padrão das proporções: inserir em cursos valores (?,?,?).

## Commit e encerramento da conexão

In [32]:
#Vejamos a importância do commit

curs.execute('select * from cursos')
dados_antes =  curs.fetchall()

print('Antes do commit:')

for i in dados_antes:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)

conn.commit()

curs.execute('select * from cursos')
dados_depois = curs.fetchall()

print('Depois do commit:')

for i in dados_depois:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)


# O COMMIT SÓ SE MOSTRA EFETIVO SE A CONEXÃO FOR ENCERRADA.

Antes do commit:
Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

Depois do commit:
Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [33]:
#Se algo for tentado com o arquivo que possui uma conexão aberda, retornará erro.

conn.close()

In [34]:
# Fechando sem commit

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

recset = [(1005,'Qualquer coisa', 'Sei lá'),
         (1,'teste 1, 2, 3',123)]

for i in recset:
    curs.execute(query_insercao, i)
    
conn.close()

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

# Usando 'conn.cursos' ao invés de nomeá-lo como 'curs'.
curs.execute('select * from cursos')

dados2 = curs.fetchall()

print('Sem commit')
for i in dados2:
    print('ID: %d; Título: %s; Categoria: %s\n' % i)
print('\n')


# A mesma coisa, mas usando commit antes de fechar

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

recset = [(1005,'Qualquer coisa', 'Sei lá'),
         (1,'teste 1, 2, 3',123)]

for i in recset:
    curs.execute(query_insercao, i)
    
conn.commit()
conn.close()

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

# Usando 'conn.cursos' ao invés de nomeá-lo como 'curs'.
curs.execute('select * from cursos')

dados2 = curs.fetchall()

print('Com commit')
for i in dados2:
    print('ID: %d; Título: %s; Categoria: %s\n' % i)

Sem commit
ID: 1000; Título: Ciência de Dados; Categoria: Data Science

ID: 1001; Título: Big Data Fundamentos; Categoria: Big Data

ID: 1002; Título: Python Fundamentos; Categoria: Análise de Dados

ID: 1003; Título: Gestão de Dados com MongoDB; Categoria: Big Data

ID: 1004; Título: R Fundamentos; Categoria: Análise de Dados



Com commit
ID: 1; Título: teste 1, 2, 3; Categoria: 123

ID: 1000; Título: Ciência de Dados; Categoria: Data Science

ID: 1001; Título: Big Data Fundamentos; Categoria: Big Data

ID: 1002; Título: Python Fundamentos; Categoria: Análise de Dados

ID: 1003; Título: Gestão de Dados com MongoDB; Categoria: Big Data

ID: 1004; Título: R Fundamentos; Categoria: Análise de Dados

ID: 1005; Título: Qualquer coisa; Categoria: Sei lá

## Informações sobre o DB

In [35]:
# Obter informações das colunas.
# O resultado é uma tupla composta por tuplas

for i in curs.execute('select * from cursos').description:
    print(i,type(i))
    
print('')
print(type(curs.execute('select * from cursos').description))

print('')

# Para obter apenas os nomes.
for i in curs.execute('select * from cursos').description:
    print(i[0],type(i[0]))

('id', None, None, None, None, None, None) <class 'tuple'>
('titulo', None, None, None, None, None, None) <class 'tuple'>
('categoria', None, None, None, None, None, None) <class 'tuple'>

<class 'tuple'>

id <class 'str'>
titulo <class 'str'>
categoria <class 'str'>

# Funções

## Função de preenchimento automático

In [36]:
import sqlite3
import random
import time
import datetime

In [37]:
# Função para criar uma tabela
def create_table(arquivo):
    c = sqlite3.connect(arquivo).cursor() #Isto cria o arquivo se ele já não existe
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    c.close()

In [38]:
# Função para inserir uma linha
# Esta função serviu de base para a próxima.
def data_insert():
    c.execute("INSERT INTO produtos VALUES('2020-05-02 12:34:45', 'Teclado', 130.00 )")
    conn.commit()
    c.close()
    conn.close()

In [39]:
# "arquivo" é o diretório do DB
# "n" é o número de itens a serem criados na lista.

# Esta função depende de a tabela "produtos" já existir no DB.

def data_insert_var(n,arquivo):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor() 
    for i in range(n): #cria n itens na lista.
        new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
        new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
        new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
        c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_value))
        conn.commit() #salva a alteração.
        time.sleep(0) #aguarda 1 segundo.
    c.close()

In [40]:
# Mesmo que o DB não exista, ele é criado no momento da conexão na função de criação de tabela.

create_table(r'../ArquivosParalelos/tempo.db')
data_insert_var(1000,r'../ArquivosParalelos/tempo.db')

# Se for executado mais vezes, vai acrescentar mais dados.

## Função de leitura dos dados

Execute as funções de inserção de dados antes.

In [41]:
def showall():
    conn = sqlite3.connect(r'../ArquivosParalelos/tempo.db')
    c = conn.cursor()
    c.execute('select * from produtos')
    data = c.fetchall()
    for i in data:
        print('Id: %d, Data: %s, Produto: %s, Valor: %d \n' % i)
    c.close()
    conn.close()

In [ ]:
showall()

In [ ]:
# Se nenhum objeto de conexão ou cursor for criado, o bloqueio é evitável.

for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall(): print(i)

## Separando colunas em listas independentes.

Foram feitos dicionários para manter o índice, mas a mesma fórmula pode ser usada para listas, se a ordem não for importante.

In [44]:
# Filtrando os nomes das colunas

columns = []
for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').description:
    columns.append(i[0])
print(columns)
print(type(columns))

['id', 'date', 'prod_name', 'valor']
<class 'list'>

In [45]:
for N in columns:
    ind = columns.index(N)
    exec('%s = {}' % (N))
    for linha in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall():
        exec('%s[linha[0]]=linha[%s]' % (N,ind))
    print('Dicionário "%s" criado com sucesso.' % N)

Dicionário "id" criado com sucesso.
Dicionário "date" criado com sucesso.
Dicionário "prod_name" criado com sucesso.
Dicionário "valor" criado com sucesso.

In [46]:
for N in columns:
    exec('print(%s)' % N)
    
#Peguei uma string e joguei como variável de outra string dentro de um exec
#Com isso, o que seria lido como N foi interpretado como chamada, não como string