# Standard Query Language

Comandos importantes para este pacote:

`conexão = sqlite3.connect(r'*path.db*')`
Define o database em uso.
Ainda não sei se vários bancos podem estar abertos ao mesmo tempo.

`cursor = conexão.cursor()`
Define um objeto que receberá as ordens para atuar no banco de dados.

`cursor.execute('string_query')`
Este comando transfere toda linguagem SQL para o Python.
As strings são salvas como queries.

`cursor.execute('insert into $tabela$ values (?, ?, ?)',tuplas)`
Em instruções de listagem, é possível deixar os valores em uma tupla e a query com uma estrutura padrão.
Isso é útil quando se deseja usar tuplas prontas, como em laços, e em vários comandos diferentes.

`lista = cursor.fetchall()`
Cria um objeto que é uma lista com os dados do último "select" (eu acho).

`conexão.commit()`
Salva as alterações em caso de blackout.

`cursor.close()` e
`conexão.close()`
São comandos para fechar o cursos e a conexão.

#### Error: database is locked ####
Ocorre porque há conexões abertas que travam a tabela, impossibilitando-a de ser alterada.
Se não tiver certeza de que todas as conexões estão encerradas, reinicie e limpe todas as saídas pelo Kernel.

Algumas queries dependem de aspas. Basta usar aspas duplas para a string e aspas simples internamente.

In [3]:
#Criando um comando para apagar/reiniciar o arquivo.

import os

def redo(conexão,caminho):
    try:
        os.remove(caminho) if os.path.exists(caminho) else None
    except PermissionError:
        print('Redo encerrou a conexão.')
        conexão.close()
    else:
        None
    os.remove(caminho) if os.path.exists(caminho) else None
    print("Redo apagou o arquivo (eu acho)")
    conexão.close()

def redoA(conexão,caminho):
    conexão.close()
    os.remove(caminho) if os.path.exists(caminho) else None

try:
    conn.close()
except:
    print('Não há conexão "conn".')

os.remove(r'../ArquivosParalelos/escola.db') if os.path.exists(r'../ArquivosParalelos/escola.db') else None

Não há conexão "conn".

In [4]:
#Importação do módulo SQLite3

import sqlite3

In [5]:
try: #tente
    conn #chamar o objeto "conn"
except NameError: #se o objeto não foi determinado
    print('Não há objeto "conn"')
    None #Nada acontece, não há conexão com determinado nome.
else: #caso contrário
    redo(conn,r'../ArquivosParalelos/escola.db') #Use a função para fechar a conexão e deletar o arquivo
    print('Conexão encerrada e arquivo deletado')
#Não consegui aplicar apenas o delete do arquivo

Não há objeto "conn"

## Início

### Sumário

* Criar o arquivo, se ainda não existir, ou criar a conexão, caso já exista;
* Executar queries, criar tabelas;
* Inserção de dados com tuplas;
* Select e criação de lista com Fetchall

In [6]:
# Cria uma CONEXÃO do script sendo rodado com um banco de dados
# Se o Banco de dados com o nome referido não existir no diretório, ele é criado nesse momento.
# Um arquivo com o nome (em string) é criado/aberto no diretório.
# Arquivos no formato .db são arquivos de banco de dados. A conexão pode ser feita com qualque arquivo.

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')

print(type(conn)) # Tipo: conexão

<class 'sqlite3.Connection'>

Conexões se parecem com a determinação de qual banco de dados está em uso no MySQL.

In [7]:
#     conn.close()

#     redo(conn,r'../ArquivosParalelos/escola.db')

In [8]:
# Criação de um CURSOR.
# Um cursor é um objeto que funciona como cordenada.
# O cursor é parte de um objeto CONEXÃO; neste caso, do objeto "conn".

curs = conn.cursor()

print(type(curs))

<class 'sqlite3.Cursor'>

## Criação da Tabela no DB

In [9]:
# Queries em python são strings executadas.

# Criação da string na forma do objeto "string_executavel":


string_executavel = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'
# PRYMARY KEY entra como constraint.

print(string_executavel)

# por extenso
string_executavel = 'create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))'

# O nome da tabela é "cursos"
# A coluna "id" é do tipo interger e é uma chave primária, não admitindo valores repetidos.
# As colunas "título" e "categoria" são do tipo varchar, aceitando até 100 e 140 caracteres, respectivamente.

print(string_executavel)

create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))
create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))

In [10]:
# Agora é pedido que o cursor "curs" (que está na conexão "conn" com o arquivo escola.db) execute o comando descrito em "string_executavel"

curs.execute(string_executavel)

# A tabela existe e possui parâmetros, mas não tem conteúdo.

## Inserção de dados na tabela

In [11]:
# Outra string de query.
# A query é criada sem os dados, apenas com as lacunas.

query_insercao = 'insert into cursos values (?, ?, ?)'

In [12]:
# Dados a serem inseridos
# O conjunto é uma lista
# Cada item da lista é um registro no formato de tupla.
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

print(type(recset))
print(type(recset[1]))

<class 'list'>
<class 'tuple'>

In [13]:
# Finalmente, a execução do comando de inserção de dados

# Para cada "linha" em "recset",
# O cursor "curs", na conexão "conn", executa
# o comando na forma de string contido em "query_insercao"
# adicionando uma "linha"

for registro in recset:
    curs.execute(query_insercao, registro)
    #cursor.executa(query, registro)

# .execute recebe como parâmetros a estrutura da query e a tupla de registro.
# Outra forma de adicionar esses dados seria executando o comando tupla por tupla. A lista serviu apenas para o for.

# Se o comando for executado duas vezes, o erro dirá que um dos atributos não pode ser repetido (primary key).

In [14]:
# Gravar a transação
# Tornar factível, não apenas alterações na conexão.
conn.commit()

# Se o script for encerrado antes disso, os dados são perdidos.

# Consulta

In [15]:
# Query de seleção de registros

# Selecione todos os atributos (colunas) de "cursos".
# Notar que o cursos fica no database, não na tabela.

string_select = 'select * from cursos'

curs.execute(string_select) # O cursor passa a CONTER a seleção.
dados = curs.fetchall() # O objeto "dados" é a instância "fetchall" do cursor "curs".

#"fetchall" revela todos os dados alocados na memória em "curs". 

# "Dados" é aquela mesma lista inserida anteriormente.
print(dados)
print(type(dados))

# Numa forma mais apresentável:

print('\n')
for i in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)

[(1000, 'Ciência de Dados', 'Data Science'), (1001, 'Big Data Fundamentos', 'Big Data'), (1002, 'Python Fundamentos', 'Análise de Dados')]
<class 'list'>


Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [16]:
# Agora que a tabela possui dados, podemos adicionar dados novos
# Isso não é só um arquivo de texto. É, de fato, um banco de dados.

recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

for i in recset:
    curs.execute(query_insercao, i)

#string_insercao mantém o padrão das proporções: inserir em cursos valores (?,?,?).

## Commit e encerramento da conexão

In [17]:
#Vejamos a importância do commit

curs.execute('select * from cursos')
dados_antes =  curs.fetchall()

print('Antes do commit:')

for i in dados_antes:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)

conn.commit()

curs.execute('select * from cursos')
dados_depois = curs.fetchall()

print('Depois do commit:')

for i in dados_depois:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)


# O COMMIT SÓ SE MOSTRA EFETIVO SE A CONEXÃO FOR ENCERRADA.

Antes do commit:
Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

Depois do commit:
Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [18]:
#Se algo for tentado com o arquivo que possui uma conexão aberda, retornará erro.

conn.close()

In [19]:
# Fechando sem commit

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

recset = [(1005,'Qualquer coisa', 'Sei lá'),
         (1,'teste 1, 2, 3',123)]

for i in recset:
    curs.execute(query_insercao, i)
    
conn.close()

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

# Usando 'conn.cursos' ao invés de nomeá-lo como 'curs'.
curs.execute('select * from cursos')

dados2 = curs.fetchall()

print('Sem commit')
for i in dados2:
    print('ID: %d; Título: %s; Categoria: %s\n' % i)
print('\n')


# A mesma coisa, mas usando commit antes de fechar

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

recset = [(1005,'Qualquer coisa', 'Sei lá'),
         (1,'teste 1, 2, 3',123)]

for i in recset:
    curs.execute(query_insercao, i)
    
conn.commit()
conn.close()

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

# Usando 'conn.cursos' ao invés de nomeá-lo como 'curs'.
curs.execute('select * from cursos')

dados2 = curs.fetchall()

print('Com commit')
for i in dados2:
    print('ID: %d; Título: %s; Categoria: %s\n' % i)

Sem commit
ID: 1000; Título: Ciência de Dados; Categoria: Data Science

ID: 1001; Título: Big Data Fundamentos; Categoria: Big Data

ID: 1002; Título: Python Fundamentos; Categoria: Análise de Dados

ID: 1003; Título: Gestão de Dados com MongoDB; Categoria: Big Data

ID: 1004; Título: R Fundamentos; Categoria: Análise de Dados



Com commit
ID: 1; Título: teste 1, 2, 3; Categoria: 123

ID: 1000; Título: Ciência de Dados; Categoria: Data Science

ID: 1001; Título: Big Data Fundamentos; Categoria: Big Data

ID: 1002; Título: Python Fundamentos; Categoria: Análise de Dados

ID: 1003; Título: Gestão de Dados com MongoDB; Categoria: Big Data

ID: 1004; Título: R Fundamentos; Categoria: Análise de Dados

ID: 1005; Título: Qualquer coisa; Categoria: Sei lá

## Informações sobre o DB - Metadados

In [20]:
# Obter informações das colunas.
# O resultado é uma tupla composta por tuplas

for i in curs.execute('select * from cursos').description:
    print(i,type(i))
    
print('')
print(type(curs.execute('select * from cursos').description))

print('')

# Para obter apenas os nomes.
for i in curs.execute('select * from cursos').description:
    print(i[0],type(i[0]))

('id', None, None, None, None, None, None) <class 'tuple'>
('titulo', None, None, None, None, None, None) <class 'tuple'>
('categoria', None, None, None, None, None, None) <class 'tuple'>

<class 'tuple'>

id <class 'str'>
titulo <class 'str'>
categoria <class 'str'>

In [21]:
curs.execute('select name from sqlite_master where type = "table";')
print(curs.fetchall())

[('cursos',)]

# Funções

## Função de preenchimento automático

In [22]:
import sqlite3
import random
import time
import datetime

In [23]:
# Função para criar uma tabela
def create_table(arquivo):
    c = sqlite3.connect(arquivo).cursor() #Isto cria o arquivo se ele já não existe
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    c.close()

In [24]:
# Função para inserir uma linha
# Esta função serviu de base para a próxima.
def data_insert():
    c.execute("INSERT INTO produtos VALUES('2020-05-02 12:34:45', 'Teclado', 130.00 )")
    conn.commit()
    c.close()
    conn.close()

In [25]:
# "arquivo" é o diretório do DB
# "n" é o número de itens a serem criados na lista.

# Esta função depende de a tabela "produtos" já existir no DB.

def data_insert_var(n,arquivo):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor() 
    for i in range(n): #cria n itens na lista.
        new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
        new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
        new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
        c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_value))
        conn.commit() #salva a alteração.
        time.sleep(0) #aguarda 1 segundo.
    c.close()

In [26]:
# Mesmo que o DB não exista, ele é criado no momento da conexão na função de criação de tabela.

redo(conn,r'../ArquivosParalelos/tempo.db')

create_table(r'../ArquivosParalelos/tempo.db')
data_insert_var(100,r'../ArquivosParalelos/tempo.db')

# Se for executado mais vezes, vai acrescentar mais dados.

Redo apagou o arquivo (eu acho)

## Função de leitura dos dados

Execute as funções de inserção de dados antes.

In [27]:
def showall():
    conn = sqlite3.connect(r'../ArquivosParalelos/tempo.db')
    c = conn.cursor()
    c.execute('select * from produtos')
    data = c.fetchall()
    for i in data:
        print('Id: %d, Data: %s, Produto: %s, Valor: %d \n' % i)
    c.close()
    conn.close()

In [28]:
showall()

Id: 1, Data: 2023-04-21 20:26:35.319394, Produto: CPU, Valor: 95

Id: 2, Data: 2023-04-21 20:26:35.337381, Produto: Mouse, Valor: 96

Id: 3, Data: 2023-04-21 20:26:35.344377, Produto: Teclado, Valor: 52

Id: 4, Data: 2023-04-21 20:26:35.354371, Produto: Teclado, Valor: 54

Id: 5, Data: 2023-04-21 20:26:35.361366, Produto: Monitor, Valor: 72

Id: 6, Data: 2023-04-21 20:26:35.372359, Produto: CPU, Valor: 78

Id: 7, Data: 2023-04-21 20:26:35.378356, Produto: Monitor, Valor: 74

Id: 8, Data: 2023-04-21 20:26:35.386351, Produto: Mouse, Valor: 58

Id: 9, Data: 2023-04-21 20:26:35.391347, Produto: Monitor, Valor: 86

Id: 10, Data: 2023-04-21 20:26:35.412337, Produto: Monitor, Valor: 81

Id: 11, Data: 2023-04-21 20:26:35.417332, Produto: Teclado, Valor: 96

Id: 12, Data: 2023-04-21 20:26:35.423330, Produto: Teclado, Valor: 66

Id: 13, Data: 2023-04-21 20:26:35.428325, Produto: CPU, Valor: 77

Id: 14, Data: 2023-04-21 20:26:35.434322, Produto: Teclado, Valor: 65

Id: 15, Data: 2023-04-21 20:26:35.438319, Produto: Teclado, Valor: 66

Id: 16, Data: 2023-04-21 20:26:35.442316, Produto: Mouse, Valor: 94

Id: 17, Data: 2023-04-21 20:26:35.447312, Produto: Teclado, Valor: 70

Id: 18, Data: 2023-04-21 20:26:35.454308, Produto: CPU, Valor: 60

Id: 19, Data: 2023-04-21 20:26:35.459305, Produto: Mouse, Valor: 71

Id: 20, Data: 2023-04-21 20:26:35.466303, Produto: Monitor, Valor: 55

Id: 21, Data: 2023-04-21 20:26:35.470298, Produto: CPU, Valor: 62

Id: 22, Data: 2023-04-21 20:26:35.475295, Produto: Mouse, Valor: 69

Id: 23, Data: 2023-04-21 20:26:35.480292, Produto: Monitor, Valor: 71

Id: 24, Data: 2023-04-21 20:26:35.486289, Produto: CPU, Valor: 88

Id: 25, Data: 2023-04-21 20:26:35.490286, Produto: Monitor, Valor: 55

Id: 26, Data: 2023-04-21 20:26:35.496283, Produto: Monitor, Valor: 89

Id: 27, Data: 2023-04-21 20:26:35.504278, Produto: Teclado, Valor: 72

Id: 28, Data: 2023-04-21 20:26:35.509274, Produto: Monitor, Valor: 54

Id: 29, Data: 2023-04-21 20:26:35.516271, Produto: Teclado, Valor: 95

Id: 30, Data: 2023-04-21 20:26:35.523266, Produto: Mouse, Valor: 57

Id: 31, Data: 2023-04-21 20:26:35.528263, Produto: Monitor, Valor: 56

Id: 32, Data: 2023-04-21 20:26:35.535258, Produto: CPU, Valor: 79

Id: 33, Data: 2023-04-21 20:26:35.540257, Produto: CPU, Valor: 75

Id: 34, Data: 2023-04-21 20:26:35.545252, Produto: Monitor, Valor: 82

Id: 35, Data: 2023-04-21 20:26:35.551249, Produto: Mouse, Valor: 69

Id: 36, Data: 2023-04-21 20:26:35.555247, Produto: Mouse, Valor: 75

Id: 37, Data: 2023-04-21 20:26:35.560243, Produto: Teclado, Valor: 74

Id: 38, Data: 2023-04-21 20:26:35.564240, Produto: Teclado, Valor: 59

Id: 39, Data: 2023-04-21 20:26:35.570236, Produto: Mouse, Valor: 67

Id: 40, Data: 2023-04-21 20:26:35.576234, Produto: Monitor, Valor: 57

Id: 41, Data: 2023-04-21 20:26:35.580230, Produto: Teclado, Valor: 50

Id: 42, Data: 2023-04-21 20:26:35.592223, Produto: Mouse, Valor: 52

Id: 43, Data: 2023-04-21 20:26:35.604216, Produto: CPU, Valor: 53

Id: 44, Data: 2023-04-21 20:26:35.611212, Produto: Mouse, Valor: 60

Id: 45, Data: 2023-04-21 20:26:35.617208, Produto: CPU, Valor: 74

Id: 46, Data: 2023-04-21 20:26:35.625203, Produto: CPU, Valor: 66

Id: 47, Data: 2023-04-21 20:26:35.641193, Produto: Teclado, Valor: 99

Id: 48, Data: 2023-04-21 20:26:35.654185, Produto: CPU, Valor: 63

Id: 49, Data: 2023-04-21 20:26:35.673173, Produto: Monitor, Valor: 85

Id: 50, Data: 2023-04-21 20:26:35.687166, Produto: Teclado, Valor: 54

Id: 51, Data: 2023-04-21 20:26:35.695160, Produto: CPU, Valor: 63

Id: 52, Data: 2023-04-21 20:26:35.701156, Produto: Monitor, Valor: 62

Id: 53, Data: 2023-04-21 20:26:35.708151, Produto: Mouse, Valor: 59

Id: 54, Data: 2023-04-21 20:26:35.713149, Produto: CPU, Valor: 93

Id: 55, Data: 2023-04-21 20:26:35.719145, Produto: Teclado, Valor: 90

Id: 56, Data: 2023-04-21 20:26:35.723142, Produto: Teclado, Valor: 99

Id: 57, Data: 2023-04-21 20:26:35.727139, Produto: CPU, Valor: 53

Id: 58, Data: 2023-04-21 20:26:35.735137, Produto: Mouse, Valor: 55

Id: 59, Data: 2023-04-21 20:26:35.741131, Produto: CPU, Valor: 92

Id: 60, Data: 2023-04-21 20:26:35.746128, Produto: Monitor, Valor: 90

Id: 61, Data: 2023-04-21 20:26:35.752125, Produto: CPU, Valor: 88

Id: 62, Data: 2023-04-21 20:26:35.756122, Produto: Teclado, Valor: 70

Id: 63, Data: 2023-04-21 20:26:35.760119, Produto: Monitor, Valor: 88

Id: 64, Data: 2023-04-21 20:26:35.764116, Produto: Mouse, Valor: 85

Id: 65, Data: 2023-04-21 20:26:35.773111, Produto: Monitor, Valor: 80

Id: 66, Data: 2023-04-21 20:26:35.778108, Produto: CPU, Valor: 76

Id: 67, Data: 2023-04-21 20:26:35.783105, Produto: Monitor, Valor: 96

Id: 68, Data: 2023-04-21 20:26:35.787102, Produto: Teclado, Valor: 96

Id: 69, Data: 2023-04-21 20:26:35.791099, Produto: CPU, Valor: 90

Id: 70, Data: 2023-04-21 20:26:35.797097, Produto: CPU, Valor: 65

Id: 71, Data: 2023-04-21 20:26:35.808090, Produto: Teclado, Valor: 72

Id: 72, Data: 2023-04-21 20:26:35.826078, Produto: Teclado, Valor: 78

Id: 73, Data: 2023-04-21 20:26:35.831075, Produto: Mouse, Valor: 55

Id: 74, Data: 2023-04-21 20:26:35.841069, Produto: Monitor, Valor: 72

Id: 75, Data: 2023-04-21 20:26:35.846066, Produto: CPU, Valor: 97

Id: 76, Data: 2023-04-21 20:26:35.853062, Produto: CPU, Valor: 99

Id: 77, Data: 2023-04-21 20:26:35.859057, Produto: Monitor, Valor: 73

Id: 78, Data: 2023-04-21 20:26:35.864055, Produto: Monitor, Valor: 70

Id: 79, Data: 2023-04-21 20:26:35.873049, Produto: Mouse, Valor: 97

Id: 80, Data: 2023-04-21 20:26:35.878046, Produto: Monitor, Valor: 64

Id: 81, Data: 2023-04-21 20:26:35.882043, Produto: Teclado, Valor: 73

Id: 82, Data: 2023-04-21 20:26:35.890039, Produto: Mouse, Valor: 91

Id: 83, Data: 2023-04-21 20:26:35.894036, Produto: Teclado, Valor: 94

Id: 84, Data: 2023-04-21 20:26:35.930014, Produto: Mouse, Valor: 95

Id: 85, Data: 2023-04-21 20:26:35.936012, Produto: CPU, Valor: 53

Id: 86, Data: 2023-04-21 20:26:35.942006, Produto: Teclado, Valor: 78

Id: 87, Data: 2023-04-21 20:26:35.946004, Produto: Mouse, Valor: 91

Id: 88, Data: 2023-04-21 20:26:35.952001, Produto: Monitor, Valor: 73

Id: 89, Data: 2023-04-21 20:26:35.958996, Produto: Mouse, Valor: 75

Id: 90, Data: 2023-04-21 20:26:35.962994, Produto: CPU, Valor: 52

Id: 91, Data: 2023-04-21 20:26:35.969992, Produto: Mouse, Valor: 57

Id: 92, Data: 2023-04-21 20:26:35.976986, Produto: Mouse, Valor: 83

Id: 93, Data: 2023-04-21 20:26:35.981982, Produto: CPU, Valor: 53

Id: 94, Data: 2023-04-21 20:26:35.990976, Produto: Mouse, Valor: 59

Id: 95, Data: 2023-04-21 20:26:35.995973, Produto: Mouse, Valor: 56

Id: 96, Data: 2023-04-21 20:26:36.003975, Produto: Teclado, Valor: 73

Id: 97, Data: 2023-04-21 20:26:36.008965, Produto: CPU, Valor: 72

Id: 98, Data: 2023-04-21 20:26:36.013962, Produto: Teclado, Valor: 61

Id: 99, Data: 2023-04-21 20:26:36.022957, Produto: Teclado, Valor: 63

Id: 100, Data: 2023-04-21 20:26:36.029952, Produto: Mouse, Valor: 52

In [29]:
# Se nenhum objeto de conexão ou cursor for criado, o bloqueio é evitável.

for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall(): print(i)

(1, '2023-04-21 20:26:35.319394', 'CPU', 95.0)
(2, '2023-04-21 20:26:35.337381', 'Mouse', 96.0)
(3, '2023-04-21 20:26:35.344377', 'Teclado', 52.0)
(4, '2023-04-21 20:26:35.354371', 'Teclado', 54.0)
(5, '2023-04-21 20:26:35.361366', 'Monitor', 72.0)
(6, '2023-04-21 20:26:35.372359', 'CPU', 78.0)
(7, '2023-04-21 20:26:35.378356', 'Monitor', 74.0)
(8, '2023-04-21 20:26:35.386351', 'Mouse', 58.0)
(9, '2023-04-21 20:26:35.391347', 'Monitor', 86.0)
(10, '2023-04-21 20:26:35.412337', 'Monitor', 81.0)
(11, '2023-04-21 20:26:35.417332', 'Teclado', 96.0)
(12, '2023-04-21 20:26:35.423330', 'Teclado', 66.0)
(13, '2023-04-21 20:26:35.428325', 'CPU', 77.0)
(14, '2023-04-21 20:26:35.434322', 'Teclado', 65.0)
(15, '2023-04-21 20:26:35.438319', 'Teclado', 66.0)
(16, '2023-04-21 20:26:35.442316', 'Mouse', 94.0)
(17, '2023-04-21 20:26:35.447312', 'Teclado', 70.0)
(18, '2023-04-21 20:26:35.454308', 'CPU', 60.0)
(19, '2023-04-21 20:26:35.459305', 'Mouse', 71.0)
(20, '2023-04-21 20:26:35.466303', 'Monitor', 55.0)
(21, '2023-04-21 20:26:35.470298', 'CPU', 62.0)
(22, '2023-04-21 20:26:35.475295', 'Mouse', 69.0)
(23, '2023-04-21 20:26:35.480292', 'Monitor', 71.0)
(24, '2023-04-21 20:26:35.486289', 'CPU', 88.0)
(25, '2023-04-21 20:26:35.490286', 'Monitor', 55.0)
(26, '2023-04-21 20:26:35.496283', 'Monitor', 89.0)
(27, '2023-04-21 20:26:35.504278', 'Teclado', 72.0)
(28, '2023-04-21 20:26:35.509274', 'Monitor', 54.0)
(29, '2023-04-21 20:26:35.516271', 'Teclado', 95.0)
(30, '2023-04-21 20:26:35.523266', 'Mouse', 57.0)
(31, '2023-04-21 20:26:35.528263', 'Monitor', 56.0)
(32, '2023-04-21 20:26:35.535258', 'CPU', 79.0)
(33, '2023-04-21 20:26:35.540257', 'CPU', 75.0)
(34, '2023-04-21 20:26:35.545252', 'Monitor', 82.0)
(35, '2023-04-21 20:26:35.551249', 'Mouse', 69.0)
(36, '2023-04-21 20:26:35.555247', 'Mouse', 75.0)
(37, '2023-04-21 20:26:35.560243', 'Teclado', 74.0)
(38, '2023-04-21 20:26:35.564240', 'Teclado', 59.0)
(39, '2023-04-21 20:26:35.570236', 'Mouse', 67.0)
(40, '2023-04-21 20:26:35.576234', 'Monitor', 57.0)
(41, '2023-04-21 20:26:35.580230', 'Teclado', 50.0)
(42, '2023-04-21 20:26:35.592223', 'Mouse', 52.0)
(43, '2023-04-21 20:26:35.604216', 'CPU', 53.0)
(44, '2023-04-21 20:26:35.611212', 'Mouse', 60.0)
(45, '2023-04-21 20:26:35.617208', 'CPU', 74.0)
(46, '2023-04-21 20:26:35.625203', 'CPU', 66.0)
(47, '2023-04-21 20:26:35.641193', 'Teclado', 99.0)
(48, '2023-04-21 20:26:35.654185', 'CPU', 63.0)
(49, '2023-04-21 20:26:35.673173', 'Monitor', 85.0)
(50, '2023-04-21 20:26:35.687166', 'Teclado', 54.0)
(51, '2023-04-21 20:26:35.695160', 'CPU', 63.0)
(52, '2023-04-21 20:26:35.701156', 'Monitor', 62.0)
(53, '2023-04-21 20:26:35.708151', 'Mouse', 59.0)
(54, '2023-04-21 20:26:35.713149', 'CPU', 93.0)
(55, '2023-04-21 20:26:35.719145', 'Teclado', 90.0)
(56, '2023-04-21 20:26:35.723142', 'Teclado', 99.0)
(57, '2023-04-21 20:26:35.727139', 'CPU', 53.0)
(58, '2023-04-21 20:26:35.735137', 'Mouse', 55.0)
(59, '2023-04-21 20:26:35.741131', 'CPU', 92.0)
(60, '2023-04-21 20:26:35.746128', 'Monitor', 90.0)
(61, '2023-04-21 20:26:35.752125', 'CPU', 88.0)
(62, '2023-04-21 20:26:35.756122', 'Teclado', 70.0)
(63, '2023-04-21 20:26:35.760119', 'Monitor', 88.0)
(64, '2023-04-21 20:26:35.764116', 'Mouse', 85.0)
(65, '2023-04-21 20:26:35.773111', 'Monitor', 80.0)
(66, '2023-04-21 20:26:35.778108', 'CPU', 76.0)
(67, '2023-04-21 20:26:35.783105', 'Monitor', 96.0)
(68, '2023-04-21 20:26:35.787102', 'Teclado', 96.0)
(69, '2023-04-21 20:26:35.791099', 'CPU', 90.0)
(70, '2023-04-21 20:26:35.797097', 'CPU', 65.0)
(71, '2023-04-21 20:26:35.808090', 'Teclado', 72.0)
(72, '2023-04-21 20:26:35.826078', 'Teclado', 78.0)
(73, '2023-04-21 20:26:35.831075', 'Mouse', 55.0)
(74, '2023-04-21 20:26:35.841069', 'Monitor', 72.0)
(75, '2023-04-21 20:26:35.846066', 'CPU', 97.0)
(76, '2023-04-21 20:26:35.853062', 'CPU', 99.0)
(77, '2023-04-21 20:26:35.859057', 'Monitor', 73.0)
(78, '2023-04-21 20:26:35.864055', 'Monitor', 70.0)
(79, '2023-04-21 20:26:35.873049', 'Mouse', 97.0)
(80, '2023-04-21 20:26:35.878046', 'Monitor', 64.0)
(81, '2023-04-21 20:26:35.882043', 'Teclado', 73.0)
(82, '2023-04-21 20:26:35.890039', 'Mouse', 91.0)
(83, '2023-04-21 20:26:35.894036', 'Teclado', 94.0)
(84, '2023-04-21 20:26:35.930014', 'Mouse', 95.0)
(85, '2023-04-21 20:26:35.936012', 'CPU', 53.0)
(86, '2023-04-21 20:26:35.942006', 'Teclado', 78.0)
(87, '2023-04-21 20:26:35.946004', 'Mouse', 91.0)
(88, '2023-04-21 20:26:35.952001', 'Monitor', 73.0)
(89, '2023-04-21 20:26:35.958996', 'Mouse', 75.0)
(90, '2023-04-21 20:26:35.962994', 'CPU', 52.0)
(91, '2023-04-21 20:26:35.969992', 'Mouse', 57.0)
(92, '2023-04-21 20:26:35.976986', 'Mouse', 83.0)
(93, '2023-04-21 20:26:35.981982', 'CPU', 53.0)
(94, '2023-04-21 20:26:35.990976', 'Mouse', 59.0)
(95, '2023-04-21 20:26:35.995973', 'Mouse', 56.0)
(96, '2023-04-21 20:26:36.003975', 'Teclado', 73.0)
(97, '2023-04-21 20:26:36.008965', 'CPU', 72.0)
(98, '2023-04-21 20:26:36.013962', 'Teclado', 61.0)
(99, '2023-04-21 20:26:36.022957', 'Teclado', 63.0)
(100, '2023-04-21 20:26:36.029952', 'Mouse', 52.0)

## Separando colunas em listas independentes.

Foram feitos dicionários para manter o índice, mas a mesma fórmula pode ser usada para listas, se a ordem não for importante.

In [30]:
# Filtrando os nomes das colunas

columns = []
for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').description:
    columns.append(i[0])
print(columns)
print(type(columns))

['id', 'date', 'prod_name', 'valor']
<class 'list'>

In [31]:
for N in columns:
    ind = columns.index(N)
    exec('%s = {}' % (N))
    for linha in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall():
        exec('%s[linha[0]]=linha[%s]' % (N,ind))
    print('Dicionário "%s" criado com sucesso.' % N)

Dicionário "id" criado com sucesso.
Dicionário "date" criado com sucesso.
Dicionário "prod_name" criado com sucesso.
Dicionário "valor" criado com sucesso.

In [32]:
for N in columns:
    exec('print(%s)' % N)
    
#Peguei uma string e joguei como variável de outra string dentro de um exec
#Com isso, o que seria lido como N foi interpretado como chamada, não como string

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40, 41: 41, 42: 42, 43: 43, 44: 44, 45: 45, 46: 46, 47: 47, 48: 48, 49: 49, 50: 50, 51: 51, 52: 52, 53: 53, 54: 54, 55: 55, 56: 56, 57: 57, 58: 58, 59: 59, 60: 60, 61: 61, 62: 62, 63: 63, 64: 64, 65: 65, 66: 66, 67: 67, 68: 68, 69: 69, 70: 70, 71: 71, 72: 72, 73: 73, 74: 74, 75: 75, 76: 76, 77: 77, 78: 78, 79: 79, 80: 80, 81: 81, 82: 82, 83: 83, 84: 84, 85: 85, 86: 86, 87: 87, 88: 88, 89: 89, 90: 90, 91: 91, 92: 92, 93: 93, 94: 94, 95: 95, 96: 96, 97: 97, 98: 98, 99: 99, 100: 100}
{1: '2023-04-21 20:26:35.319394', 2: '2023-04-21 20:26:35.337381', 3: '2023-04-21 20:26:35.344377', 4: '2023-04-21 20:26:35.354371', 5: '2023-04-21 20:26:35.361366', 6: '2023-04-21 20:26:35.372359', 7: '2023-04-21 20:26:35.378356', 8: '2023-04-21 20:26:35.386351', 9: '2023-04-21 20:26:35.391347', 10: '2023-04-21 20:26:35.412337', 11: '2023-04-21 20:26:35.417332', 12: '2023-04-21 20:26:35.423330', 13: '2023-04-21 20:26:35.428325', 14: '2023-04-21 20:26:35.434322', 15: '2023-04-21 20:26:35.438319', 16: '2023-04-21 20:26:35.442316', 17: '2023-04-21 20:26:35.447312', 18: '2023-04-21 20:26:35.454308', 19: '2023-04-21 20:26:35.459305', 20: '2023-04-21 20:26:35.466303', 21: '2023-04-21 20:26:35.470298', 22: '2023-04-21 20:26:35.475295', 23: '2023-04-21 20:26:35.480292', 24: '2023-04-21 20:26:35.486289', 25: '2023-04-21 20:26:35.490286', 26: '2023-04-21 20:26:35.496283', 27: '2023-04-21 20:26:35.504278', 28: '2023-04-21 20:26:35.509274', 29: '2023-04-21 20:26:35.516271', 30: '2023-04-21 20:26:35.523266', 31: '2023-04-21 20:26:35.528263', 32: '2023-04-21 20:26:35.535258', 33: '2023-04-21 20:26:35.540257', 34: '2023-04-21 20:26:35.545252', 35: '2023-04-21 20:26:35.551249', 36: '2023-04-21 20:26:35.555247', 37: '2023-04-21 20:26:35.560243', 38: '2023-04-21 20:26:35.564240', 39: '2023-04-21 20:26:35.570236', 40: '2023-04-21 20:26:35.576234', 41: '2023-04-21 20:26:35.580230', 42: '2023-04-21 20:26:35.592223', 43: '2023-04-21 20:26:35.604216', 44: '2023-04-21 20:26:35.611212', 45: '2023-04-21 20:26:35.617208', 46: '2023-04-21 20:26:35.625203', 47: '2023-04-21 20:26:35.641193', 48: '2023-04-21 20:26:35.654185', 49: '2023-04-21 20:26:35.673173', 50: '2023-04-21 20:26:35.687166', 51: '2023-04-21 20:26:35.695160', 52: '2023-04-21 20:26:35.701156', 53: '2023-04-21 20:26:35.708151', 54: '2023-04-21 20:26:35.713149', 55: '2023-04-21 20:26:35.719145', 56: '2023-04-21 20:26:35.723142', 57: '2023-04-21 20:26:35.727139', 58: '2023-04-21 20:26:35.735137', 59: '2023-04-21 20:26:35.741131', 60: '2023-04-21 20:26:35.746128', 61: '2023-04-21 20:26:35.752125', 62: '2023-04-21 20:26:35.756122', 63: '2023-04-21 20:26:35.760119', 64: '2023-04-21 20:26:35.764116', 65: '2023-04-21 20:26:35.773111', 66: '2023-04-21 20:26:35.778108', 67: '2023-04-21 20:26:35.783105', 68: '2023-04-21 20:26:35.787102', 69: '2023-04-21 20:26:35.791099', 70: '2023-04-21 20:26:35.797097', 71: '2023-04-21 20:26:35.808090', 72: '2023-04-21 20:26:35.826078', 73: '2023-04-21 20:26:35.831075', 74: '2023-04-21 20:26:35.841069', 75: '2023-04-21 20:26:35.846066', 76: '2023-04-21 20:26:35.853062', 77: '2023-04-21 20:26:35.859057', 78: '2023-04-21 20:26:35.864055', 79: '2023-04-21 20:26:35.873049', 80: '2023-04-21 20:26:35.878046', 81: '2023-04-21 20:26:35.882043', 82: '2023-04-21 20:26:35.890039', 83: '2023-04-21 20:26:35.894036', 84: '2023-04-21 20:26:35.930014', 85: '2023-04-21 20:26:35.936012', 86: '2023-04-21 20:26:35.942006', 87: '2023-04-21 20:26:35.946004', 88: '2023-04-21 20:26:35.952001', 89: '2023-04-21 20:26:35.958996', 90: '2023-04-21 20:26:35.962994', 91: '2023-04-21 20:26:35.969992', 92: '2023-04-21 20:26:35.976986', 93: '2023-04-21 20:26:35.981982', 94: '2023-04-21 20:26:35.990976', 95: '2023-04-21 20:26:35.995973', 96: '2023-04-21 20:26:36.003975', 97: '2023-04-21 20:26:36.008965', 98: '2023-04-21 20:26:36.013962', 99: '2023-04-21 20:26:36.022957', 100: '2023-04-21 20:26:36.029952'}
{1: 'CPU', 2: 'Mouse', 3: 'Teclado', 4: 'Teclado', 5: 'Monitor', 6: 'CPU', 7: 'Monitor', 8: 'Mouse', 9: 'Monitor', 10: 'Monitor', 11: 'Teclado', 12: 'Teclado', 13: 'CPU', 14: 'Teclado', 15: 'Teclado', 16: 'Mouse', 17: 'Teclado', 18: 'CPU', 19: 'Mouse', 20: 'Monitor', 21: 'CPU', 22: 'Mouse', 23: 'Monitor', 24: 'CPU', 25: 'Monitor', 26: 'Monitor', 27: 'Teclado', 28: 'Monitor', 29: 'Teclado', 30: 'Mouse', 31: 'Monitor', 32: 'CPU', 33: 'CPU', 34: 'Monitor', 35: 'Mouse', 36: 'Mouse', 37: 'Teclado', 38: 'Teclado', 39: 'Mouse', 40: 'Monitor', 41: 'Teclado', 42: 'Mouse', 43: 'CPU', 44: 'Mouse', 45: 'CPU', 46: 'CPU', 47: 'Teclado', 48: 'CPU', 49: 'Monitor', 50: 'Teclado', 51: 'CPU', 52: 'Monitor', 53: 'Mouse', 54: 'CPU', 55: 'Teclado', 56: 'Teclado', 57: 'CPU', 58: 'Mouse', 59: 'CPU', 60: 'Monitor', 61: 'CPU', 62: 'Teclado', 63: 'Monitor', 64: 'Mouse', 65: 'Monitor', 66: 'CPU', 67: 'Monitor', 68: 'Teclado', 69: 'CPU', 70: 'CPU', 71: 'Teclado', 72: 'Teclado', 73: 'Mouse', 74: 'Monitor', 75: 'CPU', 76: 'CPU', 77: 'Monitor', 78: 'Monitor', 79: 'Mouse', 80: 'Monitor', 81: 'Teclado', 82: 'Mouse', 83: 'Teclado', 84: 'Mouse', 85: 'CPU', 86: 'Teclado', 87: 'Mouse', 88: 'Monitor', 89: 'Mouse', 90: 'CPU', 91: 'Mouse', 92: 'Mouse', 93: 'CPU', 94: 'Mouse', 95: 'Mouse', 96: 'Teclado', 97: 'CPU', 98: 'Teclado', 99: 'Teclado', 100: 'Mouse'}
{1: 95.0, 2: 96.0, 3: 52.0, 4: 54.0, 5: 72.0, 6: 78.0, 7: 74.0, 8: 58.0, 9: 86.0, 10: 81.0, 11: 96.0, 12: 66.0, 13: 77.0, 14: 65.0, 15: 66.0, 16: 94.0, 17: 70.0, 18: 60.0, 19: 71.0, 20: 55.0, 21: 62.0, 22: 69.0, 23: 71.0, 24: 88.0, 25: 55.0, 26: 89.0, 27: 72.0, 28: 54.0, 29: 95.0, 30: 57.0, 31: 56.0, 32: 79.0, 33: 75.0, 34: 82.0, 35: 69.0, 36: 75.0, 37: 74.0, 38: 59.0, 39: 67.0, 40: 57.0, 41: 50.0, 42: 52.0, 43: 53.0, 44: 60.0, 45: 74.0, 46: 66.0, 47: 99.0, 48: 63.0, 49: 85.0, 50: 54.0, 51: 63.0, 52: 62.0, 53: 59.0, 54: 93.0, 55: 90.0, 56: 99.0, 57: 53.0, 58: 55.0, 59: 92.0, 60: 90.0, 61: 88.0, 62: 70.0, 63: 88.0, 64: 85.0, 65: 80.0, 66: 76.0, 67: 96.0, 68: 96.0, 69: 90.0, 70: 65.0, 71: 72.0, 72: 78.0, 73: 55.0, 74: 72.0, 75: 97.0, 76: 99.0, 77: 73.0, 78: 70.0, 79: 97.0, 80: 64.0, 81: 73.0, 82: 91.0, 83: 94.0, 84: 95.0, 85: 53.0, 86: 78.0, 87: 91.0, 88: 73.0, 89: 75.0, 90: 52.0, 91: 57.0, 92: 83.0, 93: 53.0, 94: 59.0, 95: 56.0, 96: 73.0, 97: 72.0, 98: 61.0, 99: 63.0, 100: 52.0}

# Pandas

O resultado do .fetchall() é uma lista contendo tuplas para os registos da tabela.

Basta criar o dataframe com o pandas, dar nome às colunas e preencher os dados com o resultado do .fetchall().

In [37]:
import pandas as pd

dadosSQL = sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall()

columns = [i[0] for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').description]

dadosPandas = pd.DataFrame(dadosSQL, columns = columns)

print(dadosPandas)

     id                        date prod_name  valor
0     1  2023-04-21 20:26:35.319394       CPU   95.0
1     2  2023-04-21 20:26:35.337381     Mouse   96.0
2     3  2023-04-21 20:26:35.344377   Teclado   52.0
3     4  2023-04-21 20:26:35.354371   Teclado   54.0
4     5  2023-04-21 20:26:35.361366   Monitor   72.0
..  ...                         ...       ...    ...
95   96  2023-04-21 20:26:36.003975   Teclado   73.0
96   97  2023-04-21 20:26:36.008965       CPU   72.0
97   98  2023-04-21 20:26:36.013962   Teclado   61.0
98   99  2023-04-21 20:26:36.022957   Teclado   63.0
99  100  2023-04-21 20:26:36.029952     Mouse   52.0

[100 rows x 4 columns]

In [39]:
dadosPandas = pd.DataFrame(
    sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall(), 
    columns = [i[0] for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').description]
    )

print(dadosPandas)

     id                        date prod_name  valor
0     1  2023-04-21 20:26:35.319394       CPU   95.0
1     2  2023-04-21 20:26:35.337381     Mouse   96.0
2     3  2023-04-21 20:26:35.344377   Teclado   52.0
3     4  2023-04-21 20:26:35.354371   Teclado   54.0
4     5  2023-04-21 20:26:35.361366   Monitor   72.0
..  ...                         ...       ...    ...
95   96  2023-04-21 20:26:36.003975   Teclado   73.0
96   97  2023-04-21 20:26:36.008965       CPU   72.0
97   98  2023-04-21 20:26:36.013962   Teclado   61.0
98   99  2023-04-21 20:26:36.022957   Teclado   63.0
99  100  2023-04-21 20:26:36.029952     Mouse   52.0

[100 rows x 4 columns]