Pacote destinado a tratamento de dados em matrizes.

Este pacote já está incluso no Anaconda Python.

In [3]:
import pandas as pd

In [4]:
#Verificação da versão importada
pd.__version__

'1.0.5'

In [8]:
#Entregando um arquivo csv a uma variável:
tabela = pd.read_csv('..\\ArquivosParalelos\\Teste2.csv')

In [9]:
#O começo da tabela:
tabela.head(9)

       um    dois    três
0  quatro   cinco    seis
1    sete    oito    nove
2     dez    onze   doze.