# Standard Query Language

Comandos importantes para este pacote:

#### $conexão$ = sqlite3.connect(r'*path.db*')
Define o database em uso.
Ainda não sei se vários bancos podem estar abertos ao mesmo tempo.

#### $cursor$ = $conexão$.cursor()
Define um objeto que receberá as ordens para atuar no banco de dados.

#### $cursor$.execute('string_query')
Este comando transfere toda linguagem SQL para o Python.
As strings são salvas como queries.

#### $cursor$.execute('insert into $tabela$ values (?, ?, ?)',$tuplas$)
Em instruções de listagem, é possível deixar os valores em uma tupla e a query com uma estrutura padrão.
Isso é útil quando se deseja usar tuplas prontas, como em laços, e em vários comandos diferentes.

#### $lista$ = $cursor$.fetchall()
Cria um objeto que é uma lista com os dados do último "select" (eu acho).

#### $conexão$.commit()
Salva as alterações em caso de blackout.

#### $cursor$.close()
#### $conexão$.close()
São comandos para fechar o cursos e a conexão.

#### Error: database is locked ####
Ocorre porque há conexões abertas que travam a tabela, impossibilitando-a de ser alterada.
Se não tiver certeza de que todas as conexões estão encerradas, reinicie e limpe todas as saídas pelo Kernel.

Algumas queries dependem de aspas. Basta usar aspas duplas para a string e aspas simples internamente.

In [ ]:
#Criando um comando para apagar/reiniciar o arquivo.

import os

def redo(conexão,caminho):
    try:
        os.remove(caminho) if os.path.exists(caminho) else None
    except PermissionError:
        print('Redo encerrou a conexão.')
        conexão.close()
    else:
        None
    os.remove(caminho) if os.path.exists(caminho) else None
    print("Redo apagou o arquivo (eu acho)")

def redoA(conexão,caminho):
    conexão.close()
    os.remove(caminho) if os.path.exists(caminho) else None

try:
    conn.close()
except:
    None

os.remove(r'../ArquivosParalelos/escola.db') if os.path.exists(r'../ArquivosParalelos/escola.db') else None

In [ ]:
#Importação do módulo SQLite3

import sqlite3

In [ ]:
try: #tente
    conn #chamar o objeto "conn"
except NameError: #se o objeto não foi determinado
    print('nada')
    None #Nada acontece
else: #caso contrário
    print('foi')
    redo(conn,r'../ArquivosParalelos/escola.db') #Use a função para fechar a conexão e deletar o arquivo
#Não consegui aplicar apenas o delete do arquivo

### Início

In [22]:
# Cria uma CONEXÃO do script sendo rodado com um banco de dados
# Se o Banco de dados com o nome referido não existir no diretório, ele é criado nesse momento.
# Um arquivo com o nome (em string) é criado/aberto no diretório.
# Arquivos no formato .db são arquivos de banco de dados. A conexão pode ser feita com qualque arquivo.

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')

print(type(conn)) #Eis o tipo da conexão que se encontra no pacote sqlite3.

<class 'sqlite3.Connection'>

Conexões se parecem com a determinação de qual banco de dados está em uso no MySQL.

In [23]:
#     conn.close()

#     redo(conn,r'../ArquivosParalelos/escola.db')

In [24]:
# Criação de um CURSOR.
# Um cursor é um objeto que funciona como cordenada.
# O cursor é parte de um, não mais nem menos que um, objeto CONEXÃO; neste caso, do objeto "conn".

curs = conn.cursor()

print(type(curs))

<class 'sqlite3.Cursor'>

In [25]:
# Queries em python são strings executadas.

# Criação da string na forma do objeto "string_executavel":


string_executavel = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'
# PRYMARY KEY entra como constraint.

print(string_executavel)

# por extenso
string_executavel = 'create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))'

# O nome da tabela é "cursos"
# A coluna "id" é do tipo interger e é uma chave primária, não admitindo valores repetidos.
# As colunas "título" e "categoria" são do tipo varchar, aceitando até 100 e 140 caracteres, respectivamente.

print(string_executavel)

create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))
create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))

In [26]:
# Agora é pedido que o cursor "curs" (que está na conexão "conn" com o arquivo escola.db) execute o comando da string "string_executavel"

curs.execute(string_executavel)

# A tabela existe e possui parâmetros, mas não tem conteúdo.

OperationalError: table cursos already exists

In [27]:
# Outra string de query.
#A query é criada sem os dados, apenas com as lacunas.

string_insercao = 'insert into cursos values (?, ?, ?)'

In [28]:
# Dados a serem inseridos
# O conjunto é uma lista
# Cada item da lista é um registro no formato de tupla.
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

print(type(recset))
print(type(recset[1]))

<class 'list'>
<class 'tuple'>

In [29]:
# Finalmente, a execução do comando de inserção de dados

# Para cada "linha" em "recset",
# O cursor "curs", na conexão "conn", executa
# o comando na forma de string contido em "string_insercao"
# adicionando uma "linha"

for linha in recset:
    curs.execute(string_insercao, linha)

# .execute recebe como parâmetros a estrutura da query e a tupla de registro.
# Outra forma de adicionar esses dados seria executando o comando tupla por tupla. A lista serviu apenas para o for.

# Se o comando for executado duas vezes, o erro dirá que um dos atributos não pode ser repetido (primary key).

IntegrityError: UNIQUE constraint failed: cursos.id

In [30]:
# Grava a transação
# Tornar factível, não apenas alterações na conexão.
conn.commit()

#Se o script for encerrado antes disso, os dados são perdidos.

In [31]:
#Query de seleção de registros

# Selecione todos os atributos (colunas) de "cursos".
# Notar que o cursos fica no database, não na tabela.

string_select = 'select * from cursos'

curs.execute(string_select) #O cursor passa a CONTER a seleção.
dados = curs.fetchall() #O objeto "dados" é a instância "fetchall" do cursor "curs".

#"fetchall" revela todos os dados alocados na memória em "curs". 

# "Dados" é aquela mesma lista inserida anteriormente.
print(dados)
print(type(dados))

#Numa forma mais apresentável:

print('\n')
for i in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)

[(1, 'teste 1, 2, 3', '123'), (1000, 'Ciência de Dados', 'Data Science'), (1001, 'Big Data Fundamentos', 'Big Data'), (1002, 'Python Fundamentos', 'Análise de Dados'), (1003, 'Gestão de Dados com MongoDB', 'Big Data'), (1004, 'R Fundamentos', 'Análise de Dados'), (1005, 'Qualquer coisa', 'Sei lá')]
<class 'list'>


Curso Id: 1, Título: teste 1, 2, 3, Categoria: 123

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

Curso Id: 1005, Título: Qualquer coisa, Categoria: Sei lá

In [32]:
#Agora que a tabela possui dados, podemos adicionar dados novos
#Isso não é só um arquivo de texto. É, de fato, um banco de dados.

recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

for i in recset:
    curs.execute(string_insercao, i)

#string_insercao mantém o padrão das proporções: inserir em cursos valores (?,?,?).

IntegrityError: UNIQUE constraint failed: cursos.id

In [33]:
#Vejamos a importância do commit

curs.execute('select * from cursos')
dados_antes =  curs.fetchall()

print('Antes do commit:')

for i in dados_antes:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)

conn.commit()

curs.execute('select * from cursos')
dados_depois = curs.fetchall()

print('Depois do commit:')

for i in dados_depois:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % i)


# O COMMIT SÓ SE MOSTRA EFETIVO SE A CONEXÃO FOR ENCERRADA.

Antes do commit:
Curso Id: 1, Título: teste 1, 2, 3, Categoria: 123

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

Curso Id: 1005, Título: Qualquer coisa, Categoria: Sei lá

Depois do commit:
Curso Id: 1, Título: teste 1, 2, 3, Categoria: 123

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

Curso Id: 1005, Título: Qualquer coisa, Categoria: Sei lá

In [34]:
#Se algo for tentado com o arquivo que possui uma conexão aberda, retornará erro.

conn.close()

In [35]:
# Fechando sem commit

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

recset = [(1005,'Qualquer coisa', 'Sei lá'),
         (1,'teste 1, 2, 3',123)]

for i in recset:
    curs.execute(string_insercao, i)
    
conn.close()

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

# Usando 'conn.cursos' ao invés de nomeá-lo como 'curs'.
curs.execute('select * from cursos')

dados2 = curs.fetchall()

print('Sem commit')
for i in dados2:
    print('ID: %d; Título: %s; Categoria: %s\n' % i)
print('\n')


# A mesma coisa, mas usando commit antes de fechar

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

recset = [(1005,'Qualquer coisa', 'Sei lá'),
         (1,'teste 1, 2, 3',123)]

for i in recset:
    curs.execute(string_insercao, i)
    
conn.commit()
conn.close()

conn = sqlite3.connect(r'../ArquivosParalelos/escola.db')
curs = conn.cursor()

# Usando 'conn.cursos' ao invés de nomeá-lo como 'curs'.
curs.execute('select * from cursos')

dados2 = curs.fetchall()

print('Com commit')
for i in dados2:
    print('ID: %d; Título: %s; Categoria: %s\n' % i)

IntegrityError: UNIQUE constraint failed: cursos.id

## Queries diferentes

In [58]:
# Obter informações das colunas.
# O resultado é uma tupla composta por tuplas

for i in curs.execute('select * from cursos').description:
    print(i,type(i))
    
print('')
print(type(curs.execute('select * from cursos').description))

print('')

# Para obter apenas os nomes.
for i in curs.execute('select * from cursos').description:
    print(i[0],type(i[0]))

('id', None, None, None, None, None, None) <class 'tuple'>
('titulo', None, None, None, None, None, None) <class 'tuple'>
('categoria', None, None, None, None, None, None) <class 'tuple'>

<class 'tuple'>

id <class 'str'>
titulo <class 'str'>
categoria <class 'str'>

## Função de preenchimento automático

In [1]:
import sqlite3
import random
import time
import datetime

In [12]:
# Função para criar uma tabela
# Utiliza a instância "c" como global (?)
def create_table(arquivo):
    c = sqlite3.connect(arquivo).cursor()
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    c.close()

In [3]:
# Função para inserir uma linha
# Esta função serviu de base para a próxima.
def data_insert():
    c.execute("INSERT INTO produtos VALUES('2020-05-02 12:34:45', 'Teclado', 130.00 )")
    conn.commit()
    c.close()
    conn.close()

In [4]:
def data_insert_var(n,arquivo):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor() 
    for i in range(n): #cria n itens na lista
        new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais
        new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista
        new_valor = random.randrange(50,100) #Escolhe um preço para ser um valor
        c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
        conn.commit() #salva a alteração
        time.sleep(1) #aguarda 1 segundo
    c.close()

In [15]:
conn = sqlite3.connect(r'../ArquivosParalelos/tempo.db')
c = conn.cursor() 

create_table(r'../ArquivosParalelos/tempo.db')
data_insert_var(8,r'../ArquivosParalelos/tempo.db')

# Se for executado mais vezes, vai acrescentar mais dados.

## Função de leitura dos dados

Execute as funções de inserção de dados antes.

In [10]:
def showall():
    conn = sqlite3.connect(r'../ArquivosParalelos/tempo.db')
    c = conn.cursor()
    c.execute('select * from produtos')
    data = c.fetchall()
    for i in data:
        print('Id: %d, Data: %s, Produto: %s, Valor: %d \n' % i)
    c.close()
    conn.close()

In [11]:
showall()

Id: 1, Data: 2021-08-05 19:46:51.253529, Produto: CPU, Valor: 79

Id: 2, Data: 2021-08-05 19:46:52.298893, Produto: CPU, Valor: 72

Id: 3, Data: 2021-08-05 19:46:53.338346, Produto: Mouse, Valor: 88

Id: 4, Data: 2021-08-05 19:46:54.375938, Produto: Mouse, Valor: 70

Id: 5, Data: 2021-08-05 19:46:55.411009, Produto: Mouse, Valor: 56

Id: 6, Data: 2021-08-05 19:46:56.450510, Produto: Mouse, Valor: 65

Id: 7, Data: 2021-08-05 19:46:57.489701, Produto: Monitor, Valor: 70

Id: 8, Data: 2021-08-05 19:46:58.524387, Produto: Mouse, Valor: 75

Id: 9, Data: 2021-08-05 20:16:35.388870, Produto: CPU, Valor: 67

Id: 10, Data: 2021-08-05 20:16:36.447491, Produto: CPU, Valor: 75

Id: 11, Data: 2021-08-05 20:16:37.484513, Produto: Mouse, Valor: 65

Id: 12, Data: 2021-08-05 20:16:38.522215, Produto: Monitor, Valor: 95

Id: 13, Data: 2021-08-05 20:16:39.562061, Produto: CPU, Valor: 84

Id: 14, Data: 2021-08-05 20:16:40.605554, Produto: Mouse, Valor: 55

Id: 15, Data: 2021-08-05 20:16:41.635840, Produto: Monitor, Valor: 92

Id: 16, Data: 2021-08-05 20:16:42.666552, Produto: Monitor, Valor: 67

Id: 17, Data: 2021-08-05 20:17:25.000811, Produto: Monitor, Valor: 97

Id: 18, Data: 2021-08-05 20:17:26.049026, Produto: Monitor, Valor: 69

Id: 19, Data: 2021-08-05 20:17:27.087521, Produto: Teclado, Valor: 70

Id: 20, Data: 2021-08-05 20:17:28.133928, Produto: CPU, Valor: 77

Id: 21, Data: 2021-08-05 20:17:29.167497, Produto: Teclado, Valor: 52

Id: 22, Data: 2021-08-05 20:17:30.206363, Produto: Mouse, Valor: 51

Id: 23, Data: 2021-08-05 20:17:31.245494, Produto: Monitor, Valor: 80

Id: 24, Data: 2021-08-05 20:17:32.279493, Produto: Mouse, Valor: 88

In [14]:
# Se nenhum objeto de conexão ou cursor for criado, o bloqueio é evitável.

for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall(): print(i)

(1, '2021-08-05 19:46:51.253529', 'CPU', 79.0)
(2, '2021-08-05 19:46:52.298893', 'CPU', 72.0)
(3, '2021-08-05 19:46:53.338346', 'Mouse', 88.0)
(4, '2021-08-05 19:46:54.375938', 'Mouse', 70.0)
(5, '2021-08-05 19:46:55.411009', 'Mouse', 56.0)
(6, '2021-08-05 19:46:56.450510', 'Mouse', 65.0)
(7, '2021-08-05 19:46:57.489701', 'Monitor', 70.0)
(8, '2021-08-05 19:46:58.524387', 'Mouse', 75.0)
(9, '2021-08-05 20:16:35.388870', 'CPU', 67.0)
(10, '2021-08-05 20:16:36.447491', 'CPU', 75.0)
(11, '2021-08-05 20:16:37.484513', 'Mouse', 65.0)
(12, '2021-08-05 20:16:38.522215', 'Monitor', 95.0)
(13, '2021-08-05 20:16:39.562061', 'CPU', 84.0)
(14, '2021-08-05 20:16:40.605554', 'Mouse', 55.0)
(15, '2021-08-05 20:16:41.635840', 'Monitor', 92.0)
(16, '2021-08-05 20:16:42.666552', 'Monitor', 67.0)
(17, '2021-08-05 20:17:25.000811', 'Monitor', 97.0)
(18, '2021-08-05 20:17:26.049026', 'Monitor', 69.0)
(19, '2021-08-05 20:17:27.087521', 'Teclado', 70.0)
(20, '2021-08-05 20:17:28.133928', 'CPU', 77.0)
(21, '2021-08-05 20:17:29.167497', 'Teclado', 52.0)
(22, '2021-08-05 20:17:30.206363', 'Mouse', 51.0)
(23, '2021-08-05 20:17:31.245494', 'Monitor', 80.0)
(24, '2021-08-05 20:17:32.279493', 'Mouse', 88.0)
(25, '2021-08-05 20:18:37.455727', 'Mouse', 85.0)
(26, '2021-08-05 20:18:38.510656', 'CPU', 62.0)
(27, '2021-08-05 20:18:39.547275', 'Teclado', 60.0)
(28, '2021-08-05 20:18:40.649978', 'CPU', 92.0)
(29, '2021-08-05 20:18:41.685881', 'CPU', 84.0)
(30, '2021-08-05 20:18:42.723865', 'Teclado', 52.0)
(31, '2021-08-05 20:18:43.754900', 'Monitor', 50.0)
(32, '2021-08-05 20:18:44.791968', 'Monitor', 99.0)

## Separando colunas em listas independentes.

Foram feitos dicionários para manter o índice, mas a mesma fórmula pode ser usada para listas, se a ordem não for importante.

In [62]:
# Filtrando os nomes das colunas

columns = []
for i in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').description:
    columns.append(i[0])
print(columns)
print(type(columns))

['id', 'date', 'prod_name', 'valor']
<class 'list'>

In [76]:
for N in columns:
    ind = columns.index(N)
    exec('%s = {}' % (N))
    for linha in sqlite3.connect(r'../ArquivosParalelos/tempo.db').cursor().execute('select * from produtos').fetchall():
        exec('%s[linha[0]]=linha[%s]' % (N,ind))
    print('Dicionário "%s" criado com sucesso.' % N)

Dicionário "id" criado com sucesso.
Dicionário "date" criado com sucesso.
Dicionário "prod_name" criado com sucesso.
Dicionário "valor" criado com sucesso.

In [79]:
for N in columns:
    exec('print(%s)' % N)
    
#Peguei uma string e joguei como variável de outra string dentro de um exec
#Com isso, o que seria lido como N foi interpretado como chamada, não como string

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40}
{1: '2021-08-05 19:46:51.253529', 2: '2021-08-05 19:46:52.298893', 3: '2021-08-05 19:46:53.338346', 4: '2021-08-05 19:46:54.375938', 5: '2021-08-05 19:46:55.411009', 6: '2021-08-05 19:46:56.450510', 7: '2021-08-05 19:46:57.489701', 8: '2021-08-05 19:46:58.524387', 9: '2021-08-05 20:16:35.388870', 10: '2021-08-05 20:16:36.447491', 11: '2021-08-05 20:16:37.484513', 12: '2021-08-05 20:16:38.522215', 13: '2021-08-05 20:16:39.562061', 14: '2021-08-05 20:16:40.605554', 15: '2021-08-05 20:16:41.635840', 16: '2021-08-05 20:16:42.666552', 17: '2021-08-05 20:17:25.000811', 18: '2021-08-05 20:17:26.049026', 19: '2021-08-05 20:17:27.087521', 20: '2021-08-05 20:17:28.133928', 21: '2021-08-05 20:17:29.167497', 22: '2021-08-05 20:17:30.206363', 23: '2021-08-05 20:17:31.245494', 24: '2021-08-05 20:17:32.279493', 25: '2021-08-05 20:18:37.455727', 26: '2021-08-05 20:18:38.510656', 27: '2021-08-05 20:18:39.547275', 28: '2021-08-05 20:18:40.649978', 29: '2021-08-05 20:18:41.685881', 30: '2021-08-05 20:18:42.723865', 31: '2021-08-05 20:18:43.754900', 32: '2021-08-05 20:18:44.791968', 33: '2021-08-05 20:23:31.294815', 34: '2021-08-05 20:23:32.341952', 35: '2021-08-05 20:23:33.383019', 36: '2021-08-05 20:23:34.423068', 37: '2021-08-05 20:23:35.462010', 38: '2021-08-05 20:23:36.496467', 39: '2021-08-05 20:23:37.535407', 40: '2021-08-05 20:23:38.573338'}
{1: 'CPU', 2: 'CPU', 3: 'Mouse', 4: 'Mouse', 5: 'Mouse', 6: 'Mouse', 7: 'Monitor', 8: 'Mouse', 9: 'CPU', 10: 'CPU', 11: 'Mouse', 12: 'Monitor', 13: 'CPU', 14: 'Mouse', 15: 'Monitor', 16: 'Monitor', 17: 'Monitor', 18: 'Monitor', 19: 'Teclado', 20: 'CPU', 21: 'Teclado', 22: 'Mouse', 23: 'Monitor', 24: 'Mouse', 25: 'Mouse', 26: 'CPU', 27: 'Teclado', 28: 'CPU', 29: 'CPU', 30: 'Teclado', 31: 'Monitor', 32: 'Monitor', 33: 'CPU', 34: 'Mouse', 35: 'Teclado', 36: 'Monitor', 37: 'Monitor', 38: 'Mouse', 39: 'Monitor', 40: 'Mouse'}
{1: 79.0, 2: 72.0, 3: 88.0, 4: 70.0, 5: 56.0, 6: 65.0, 7: 70.0, 8: 75.0, 9: 67.0, 10: 75.0, 11: 65.0, 12: 95.0, 13: 84.0, 14: 55.0, 15: 92.0, 16: 67.0, 17: 97.0, 18: 69.0, 19: 70.0, 20: 77.0, 21: 52.0, 22: 51.0, 23: 80.0, 24: 88.0, 25: 85.0, 26: 62.0, 27: 60.0, 28: 92.0, 29: 84.0, 30: 52.0, 31: 50.0, 32: 99.0, 33: 79.0, 34: 57.0, 35: 59.0, 36: 81.0, 37: 78.0, 38: 73.0, 39: 69.0, 40: 92.0}