# Projeto 2

Para o Projeto 2 o objetivo é responder10 perguntas de negócio a partir de um dataset sobre uma rede de varejo que comercializa diversos produtos em diversas cidades dos EUA.

Os dados são reais e foram extraídos do link abaixo:

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

### Pacotes

In [8]:
import numpy as np
import seaborn as sns
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from pprint import pprint

### Dados

In [4]:
dados = pd.read_csv('dataset.csv')

In [5]:
dados.shape

(9700, 11)

In [7]:
dados.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda
0,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-BO-10001798,Furniture,Bookcases,261.9600
1,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-CH-10000454,Furniture,Chairs,731.9400
2,CA-2017-138688,12/06/2017,DV-13045,Corporate,United States,Los Angeles,California,OFF-LA-10000240,Office Supplies,Labels,14.6200
3,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,FUR-TA-10000577,Furniture,Tables,957.5775
4,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,OFF-ST-10000760,Office Supplies,Storage,22.3680

In [9]:
dados.tail()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda
9695,CA-2018-154116,15/12/2018,KM-16660,Consumer,United States,Inglewood,California,OFF-PA-10004569,Office Supplies,Paper,22.830
9696,CA-2018-154116,15/12/2018,KM-16660,Consumer,United States,Inglewood,California,OFF-AP-10000027,Office Supplies,Appliances,54.320
9697,CA-2018-154116,15/12/2018,KM-16660,Consumer,United States,Inglewood,California,TEC-PH-10000675,Technology,Phones,196.776
9698,CA-2017-105291,30/10/2017,SP-20920,Consumer,United States,San Luis Obispo,California,OFF-FA-10003059,Office Supplies,Fasteners,3.620
9699,CA-2018-147032,31/07/2018,LB-16795,Home Office,United States,Wilmington,Delaware,OFF-PA-10003256,Office Supplies,Paper,11.540

In [26]:
for i in dados.columns:
    print(i)

ID_Pedido
Data_Pedido
ID_Cliente
Segmento
Pais
Cidade
Estado
ID_Produto
Categoria
SubCategoria
Valor_Venda

`.unique()` resulta num ndarray com cada item diferente dentro do vetor.  
`.size` resulta num número que conta os itens contidos no array.

In [49]:
print("  SEGMENTOS:")

for i in dados['Segmento'].unique():
    print(i)

  SEGMENTOS:
Consumer
Corporate
Home Office

In [47]:
print("  CATEGORIAS:")

for i in dados['Categoria'].unique():
    print(i)

  CATEGORIAS:
Furniture
Office Supplies
Technology

In [48]:
print('  NÚMERO DE SUBCATEGORIAS:')
print(dados['SubCategoria'].unique().size,'\n')

for i in dados['SubCategoria'].unique():
    print(i)

  NÚMERO DE SUBCATEGORIAS:
17

Bookcases
Chairs
Labels
Tables
Storage
Furnishings
Art
Phones
Binders
Appliances
Paper
Accessories
Envelopes
Fasteners
Supplies
Machines
Copiers

In [55]:
print('  NÚMERO DE IDS DE PRODUTOS:', dados['ID_Produto'].unique().size)

  NÚMERO DE IDS DE PRODUTOS: 1861

In [53]:
print('  NÚMERO DE IDS DE CLIENTES:', dados['ID_Cliente'].unique().size)

  NÚMERO DE IDS DE CLIENTES: 793

793

In [56]:
print('País:',dados['Pais'].unique()[0])

País: United States

In [57]:
print('Número de Estados:', dados['Estado'].unique().size)

Número de Estados: 49

In [59]:
print('Número de cidades:', dados['Cidade'].unique().size)

Número de cidades: 528

In [67]:
print('Maior valor de venda:',dados['Valor_Venda'].max())

print('Menor valor de venda:',dados['Valor_Venda'].min())

Maior valor de venda: 22638.48
Menor valor de venda: 0.444

In [65]:
dados[dados['Valor_Venda'] == dados['Valor_Venda'].max()]

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda
2697,CA-2015-145317,18/03/2015,SM-20320,Home Office,United States,Jacksonville,Florida,TEC-MA-10002412,Technology,Machines,22638.48

In [66]:
dados[dados['Valor_Venda'] == dados['Valor_Venda'].min()]

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda
4098,US-2018-102288,19/06/2018,ZC-21910,Consumer,United States,Houston,Texas,OFF-AP-10002906,Office Supplies,Appliances,0.444